/*** Articles Article Page (Index) ***/
.articles-page {
  &__headline {
    margin: 30px 0 0;
    width: 100%;
    /* Mobile Header Padding */
    @media screen and (max-width: $break-md) {
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-calc(100% - 40px);
      width: expression(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: -o-calc(100% - 40px);
      width: calc(100% - 40px);
    }
    &__title {
      position: relative;
      font-size: 2.875em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
  }
}
.article--articles-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
}

/*** Article Page ***/
.articles-article-page {
  &__headline {
    margin: 30px 0 0;
    padding: 20px 13px 24px;
    width: 100%;
    background-color: #f8f8f8;
    &__title {
      position: relative;
      font-size: 2.063em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
    &__date {
      display: block;
      position: relative;
      margin-top: 11px;
      font-size: 1em;
      color: #6f777b;
    }
  }
}
.article--articles-article-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
  h2 {
    margin: 40px 0 30px;
  }
  h3 {
    font-size: 1.4em;
    margin: 30px 0 20px;
  }
}
