/*** Default Page (Index) ***/
.default-page {
  &__headline {
    margin: 30px 0 0;
    width: 100%;

    /* Mobile Header Padding */
    @media screen and (max-width: $break-md) {
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-calc(100% - 40px);
      width: expression(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: -o-calc(100% - 40px);
      width: calc(100% - 40px);
    }
    &__title {
      position: relative;
      font-size: 2.875em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
  }
}
.article--default-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
  padding-bottom: 20px;
}
