{% extends 'base.html.twig' %}
{% block page_main_content %}<header>
    <div class="contact-page__headline">
        {% if page.article is not null %}
            <h1 class="contact-page__headline__title">{{ page.article.title }}</h1>
        {% endif %}
    </div>
    </header>
    <section>
        {% if page.article is not null %}
            <article role="region" aria-label="{{ page.article.title }}">
                <div class="article article--contact-page">
                    {{ page.article.copy|raw }}
                </div>
            </article>
        {% endif %}
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
