<div class="license">
    <div class="license__item--be-gamble-aware">
        <a class="license__item__link" href="https://www.begambleaware.org/" target="_blank" rel="nofollow noopener noreferrer">
        <div class="license__item__content">
            {% include '@micro/img.html.twig' with { 'img_src': 'img/license/be-gamble-aware.png', 'img_width': 488, 'img_height': 71, 'img_alt': 'BeGambleAware', 'img_srcset':  asset('img/license/be-gamble-aware@2x.png') ~ " 2x, " ~ asset('img/license/be-gamble-aware@3x.png') ~ " 3x", 'img_class': 'license__item__icon', 'img_layout': 'fixed', 'amp': amp } only %}
            {#<object class="license__item__icon be-gamble-aware" aria-label="BeGambleAware" data="{{ asset('img/license/be-gamble-aware.svg') }}" type="image/svg+xml">BeGambleAware</object>#}
            {#{% include '@micro/img.html.twig' with { 'img_src': 'img/license/gamcare.png', 'img_width': 60, 'img_height': 60, 'img_alt': 'BeGambleAware', 'img_srcset':  asset('img/license/gamcare@2x.png') ~ " 2x, " ~ asset('img/license/gamcare@3x.png') ~ " 3x", 'img_class': 'license__item__icon be-gamble-aware', 'img_layout': 'fixed', 'amp': amp } only %}#}
        </div>
        </a>
    </div>
    <div class="license__item--gamcare">
        <a class="license__item__link" href="https://www.gamcare.org.uk/" target="_blank" rel="nofollow noopener noreferrer">
            {% include '@micro/img.html.twig' with { 'img_src': 'img/license/gamcare.png', 'img_width': 60, 'img_height': 60, 'img_alt': 'GamCare', 'img_srcset':  asset('img/license/gamcare@2x.png') ~ " 2x, " ~ asset('img/license/gamcare@3x.png') ~ " 3x", 'img_class': 'license__item__icon', 'img_layout': 'fixed', 'amp': amp } only %}
            {#<img alt="GamCare" class="license__item__icon gamcare" src="{{ asset('img/license/gamcare.png') }}" srcset="{{ asset('img/license/gamcare@2x.png') }} 2x, {{ asset('img/license/gamcare@3x.png') }} 3x">#}
        </a>
    </div>
    <div class="license__item--age-plus">
        <a class="license__item__link" href="https://www.begambleaware.org/" target="_blank" rel="nofollow noopener noreferrer">
            <div class="license__link__content">
                {% include '@micro/img.html.twig' with { 'img_src': 'img/license/age-plus.png', 'img_width': 60, 'img_height': 60, 'img_alt': 'Age Plus', 'img_srcset':  asset('img/license/age-plus@2x.png') ~ " 2x, " ~ asset('img/license/age-plus@3x.png') ~ " 3x", 'img_class': 'license__item__icon age-plus', 'img_layout': 'fixed', 'amp': amp } only %}
                {#<object class="license__item__icon age-plus" aria-label="BeGambleAware" data="{{ asset('img/license/age-plus.svg') }}" type="image/svg+xml">c</object>#}
            </div>
        </a>
    </div>
</div>