<div class="links">
    <nav>
        <ul class="links__list">
            {% for navigationItem in page.getComponent('footerNavigation').children %}
                <li>
                    <a href="{{ path(navigationItem.slug) }}">{{ navigationItem.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
