/* Tada Animation */
/* TADA */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.1) rotate(8deg);
    transform: scale(1.1) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.1) rotate(-8deg);
    transform: scale(1.1) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    -ms-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.1) rotate(8deg);
    -ms-transform: scale(1.1) rotate(8deg);
    transform: scale(1.1) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.1) rotate(-8deg);
    -ms-transform: scale(1.1) rotate(-8deg);
    transform: scale(1.1) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.faa-tada.animated {
  -webkit-animation: tada 1s linear 2;
  animation: tada 1s linear 2;
}

//.faa-tada:hover {
//  -webkit-animation: ring 2s ease infinite;
//  animation: ring 2s ease infinite;
//  transform-origin-x: 50%;
//  transform-origin-y: 0px;
//  transform-origin-z: initial;
//}
