/* Header Container (Mobile) */
#header {

  /* Main Container */
  .header__main__container--mobile {
    padding: 20px 10px 20px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    //width: 100%;
    .header__item--menu {
      width: 69px;
      height: 42px;
      align-self: flex-start;
    }
    .header__item--logo {
      width: 190px;
      height: 42px;
      align-self: center;
    }
    .header__item--search {
      width: 42px;
      height: 42px;
      align-self: flex-end;
    }
  }

  /* Menu */
  #menu--mobile {
    width: 69px;
    height: 42px;
    border-radius: 3px;
    background-color: #007aff;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); // active only
    cursor: pointer;
    // Text
    > span:first-child {
      display: block;
      width: 100%;
      height: 42px;
      font-size: 17px;
      line-height: 42px;
      vertical-align: middle;
      letter-spacing: -0.7px;
      color: #ffffff;
    }
  }
  #menu--mobile.active {
    background-color: #0b0c0c;
    border-radius: 3px 3px 0 0;
  }
  /* Mobile */
  #logo--mobile {
    width: 166px;
    height: 26.1px;
    object-fit: contain;
    margin: 2px 12px 0;
  }
  #search--mobile {
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background-color: #007aff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); // active only
    cursor: pointer;
    // Text
    > span:first-child {
      display: block;
      width: 100%;
      height: 42px;
      font-size: 17px;
      line-height: 42px;
      vertical-align: middle;
      letter-spacing: -0.7px;
      text-align: center;
      color: #ffffff;
    }
  }
  /* Search Container */
  #header__search__container--mobile {
    display: none; /*show with js*/
  }
  .header__search__container--mobile {
    width: 100%;
    height: 47px;
    margin-bottom: 30px;
    #search-bar--mobile {
      #search__form--mobile {
        label {
          display: none;
        }
        button {
          display: none
        }
        input {
          width: 100%;
          height: 47px;
          font-size: 1.125em;
          letter-spacing: -0.7px;
          border: 1px solid #979797;
          //color: #757575;
          color: #0b0c0c;
          padding: 6px 10px;
          float: right;
        }
        input:focus {
          outline: none !important;
          border: 3px solid #ffbf47;
          padding: 4px 8px;
          //box-shadow: 0 0 2px #ffbf47;
          box-shadow: none;
        }
      }
    }
  }
}
