// Header
#header {
  background: grey;
  #logo {
    background: green;
  }
  #search {
    background: orange;
  }
}
.header__main__container--mobile {
  background: orange;
}
.header__search__container--mobile {
  background: red;
}

 //Navigation
#navigation {
  background: pink;
  .navigation__menu {
    background: yellow;
  }
}

// Quicklinks
#quicklinks {
  background: orange;
  .quicklinks__title {
    background: green;
  }
  .quicklinks__content {
    background: darkolivegreen;
    .quicklinks__content__list {
      background: sandybrown;
    }
  }
}

// Leaderboard
#leaderboard {
  background: orangered;
  .leaderboard__content {
    background: rosybrown;
    .leaderboard__content__item {
      background: yellowgreen;
    }
    .leaderboard__button {
      background: red;
    }
    .leaderboard__logo {
      img {
        background: red;
      }
    }
  }
}

// Main
#main{
  background: darkkhaki;
  #main__widget {
    background: goldenrod;
  }
  #main__copy {
    background: firebrick;
    .article {
      background: grey;
      &__header {
        background: brown;
      }
      &__copy {
        background: orchid;
      }
    }
  }
}

// Sidebar
#sidebar {
  .sidebar__section__editors-choice {
    background: rebeccapurple;
  }
  .sidebar__section__news-and-help {
    background: lightcyan;
  }
}

// Notification Bell
.notification-bell__item__details {
  background: green
}

// Footer
#footer {
  .footer__main {
    background: yellow;
    &__links {
      background: deepskyblue;
    }
    &__license {
      background: orange;
    }
  }
  .footer__links {
    //background: orange;
    &__list {
      //background: pink;
    }
  }

  .license {
    background: pink;
    &__item {
      background: gold;
    }
  }
}