{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    <header>
        <div class="site-page__headline">
            <h1 class="site-page__headline__title">{{ page.article.title }}</h1>
        </div>
    </header>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.article.title }}">
            <div class="article article--site-page">
                {{ page.article.copy|raw }}
                {% if searchResults.query is not empty %}
                    <p>
                        Your search for '{{ searchResults.query|raw }}' returned the following pages:
                    </p>
                {% else %}
                    <p>
                        Your search returned the following pages:
                    </p>
                {% endif %}
            </div>
        </article>
        {% include '@widgets/listings.html.twig' with {'siteListings': searchResults.siteListings, 'path': path, 'page': page, 'amp': amp } only %}
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
