{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    {# Header #}
    <header>
        <div class="articles-article-page__headline">
            <h1 class="articles-article-page__headline__title">{{ page.article.title }}</h1>
            <span class="articles-article-page__headline__date">{{ page.article.date }}</span>
        </div>
    </header>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.article.title }}">
            <div class="article article--articles-article-page">
                {{ page.article.copy|raw }}
            </div>
        </article>
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
