{% if admin is defined %}
    <!DOCTYPE html>
    <html>
        123232
    </html>
{% else %}
    <!DOCTYPE html>
    {% if amp %}
        <html ⚡>
    {% else %}
        <html>
    {% endif %}
        <head>
            <meta charset="UTF-8">
            {% if noIndex is defined %}
                <meta name="robots" content="noindex" />
            {% endif %}
            <title>
                {{ page.meta.title|default(app.name) }}
            </title>

            {# Meta Keywords & Description#}
            <meta name="description" content="{{ page.meta.description|raw }}" />
            {% if page.meta.keywords is defined %}
                <meta name="keywords" content="{{ page.meta.keywords|join(', ')|default('') }}" />
            {% endif %}

            {# Canonical #}
            {% if page.links.alternateLink is empty and page.links.canonicalLink is not empty %}
                <link rel="canonical" href="{{ page.links.canonicalLink|raw|default(app.canonical_link) }}" />
            {% elseif page.links.alternateLink is not empty %}
                <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ page.links.alternateLink|raw }}">
            {% endif %}

            {# Amp #}
            {% if page.links.ampLink is defined and page.links.ampLink is not empty %}
                <link rel="amphtml" href="{{ page.links.ampLink }}">
            {% endif %}

            {# Production only scripts #}
            {% if get_twig_env('APP_ENV') == 'prod' %}
                {# Desktop Push Notifications: One Signal #}
                <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
                <script>
                    var OneSignal = window.OneSignal || [];
                    OneSignal.push(function() {
                        OneSignal.init({
                            appId: "{{ get_twig_env('ONE_SIGNAL_APP_ID') }}",
                        });
                    });
                </script>
            {% endif %}
            {# Stylesheets #}
            {% include 'document/stylesheets/default.html.twig' with { 'amp': amp } %}
            {% block page_stylesheets %}
            {% endblock %}
            {# Scripts #}
            {% include 'document/scripts/default.html.twig' with { 'amp': amp } %}
            {% block page_javascripts %}
            {% endblock %}
        {### Body ###}
        <body>
            {# Header #}
            {% include 'components/containers/header/header.html.twig' with { 'amp': amp } only %}
            {# Navigation #}
            {% include 'components/containers/navigation/navigation.html.twig' %}
            {# Content #}
            <main role="main">
                {# Skyscraper #}
                {% block page_skyscraper %}
                    {% if page.slug.get == 'home' %}
                        {% include 'components/containers/skyscraper/skyscraper.html.twig' with { 'show_quicklinks': true, 'quickLinks': page.getComponent('quickLinks').quickLinks, 'amp': amp } only %}
                    {% endif %}
                {% endblock %}
                <div id="content" class="container">
                    {# Page Content #}
                    <div class="row">
                        {# Main #}
                        {% if hideSidebar is defined %}
                            {% set pageContentClass = 'col-xs-12 col-sm-12 col-md-12 col-lg-12' %}
                        {% else %}
                            {% set pageContentClass = 'col-xs-12 col-sm-12 col-md-12 col-lg-8' %}
                        {% endif %}
                        <div class="{{ pageContentClass }}">
                            <div id="main">
                                <div id="main__widget">
                                    {% block page_main_widget %}{% endblock %}
                                </div>
                                <div id="main__copy">
                                    {% block page_main_content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                        {# Sidebar #}
                        {% if hideSidebar is defined %}
                        {% else %}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                {% block page_sidebar %}
                                    {% include '@containers/sidebar/sidebar.html.twig' %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
            {# Footer #}
            {% include 'components/containers/footer/footer.html.twig' with { 'page': page,  'year': year, 'notifications': page.getComponent('notifications'), 'amp': amp } only %}
        </body>
    </html>
{% endif %}
