{# Navigation #}
<nav role="navigation" aria-label="Main navigation" class="container">
    <div class="row">
        {# Navigation #}
        <div id="navigation">
            {# Links #}
            <ul class="navigation__menu">
                {# For each header navigation children #}
                {% for navigationItem in page.getComponent('headerNavigation').children %}
                    {# Navigation Items Count #}
                    {% if navigationItem.contentType == 'menu' %}
                        {% set navigationItemChildrenCount = navigationItem.children|length %}
                    {% else %}
                        {% set navigationItemChildrenCount = 0 %}
                    {% endif %}

                    {# Navigation Menu Link Prefix #}
                    {% if navigationItem.slug == 'articles' %}
                        {% set navigationMenuLinkPrefix = '/articles/' %}
                    {% else %}
                        {% set navigationMenuLinkPrefix = '/' %}
                    {% endif %}

                    {# Determine Selected #}
                    {% if navigationService.getSelected(navigationItem.slug, page.slug.get, page.getComponent('headerNavigation').children) %}
                        {% set selectedClass = 'selected' %}
                    {% else %}
                        {% set selectedClass = '' %}
                    {% endif %}

                    <li class="navigation__menu__item {{ selectedClass }}" data-selected="{{ selectedClass }}" data-ref="{{ navigationItem.slug }}" data-children="{{ navigationItemChildrenCount }}">
                        <a class="navigation__item__link" href="{{ path(navigationItem.slug) }}">
                            {{ navigationItem.title }}
                        </a>
                        {# Menu #}
                        {% if navigationItem.contentType == 'menu' %}
                            {# Set Menu Subclass #}
                            {% set navigationMenuClass = 'navigation__menu' %}
                            {% if navigationItem.children|length > 1 %}
                                {% set x = 0 %}
                                {% for navigationItemChild in navigationItem.children %}
                                    {% if navigationItemChild.contentType == 'menu' %}
                                        {% set x = x + 1 %}
                                        {% if x > 1 %}
                                            {% set navigationMenuClass = 'navigation__menu--double' %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="{{ navigationItem.slug }}-menu {{ navigationMenuClass }}">
                                {# Submenu #}
                                {# Set Navigation Menu Subclass #}
                                {% set navigationSubmenuClass = 'navigation_menu_submenu' %}
                                {% if navigationItem.children|length > 1 %}
                                    {% set x = 0 %}
                                    {% for navigationItemChild in navigationItem.children %}
                                        {% if navigationItemChild.contentType == 'menu' %}
                                            {% set x = x + 1 %}
                                            {% if x > 1 %}
                                                {% set navigationSubmenuClass = 'navigation_menu_submenu--double' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <ul class="{{ navigationSubmenuClass }}">
                                    {% set x = 0 %}
                                    {% for navigationItemChild in navigationItem.children %}
                                        {% if navigationItemChild.contentType == 'menu' %}
                                            {% set x = x + 1 %}
                                            {% if x > 1 %}
                                                </ul><ul class="{{ navigationSubmenuClass }}">
                                            {% endif %}
                                            <li>
                                                <div>
                                                    <strong>
                                                        <a class="navigation__menu__link" href="{{ navigationMenuLinkPrefix }}{{ navigationItemChild.slug }}">
                                                            {{ navigationItemChild.title }}
                                                        </a>
                                                    </strong>
                                                </div>
                                                <ul>
                                                    {% for navigationItemGrandChild in navigationItemChild.children %}
                                                        <li>
                                                            <a class="navigation__menu__link" href="{{ navigationMenuLinkPrefix }}{{ navigationItemGrandChild.slug }}">{{ navigationItemGrandChild.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="navigation__menu__link" href="{{ navigationMenuLinkPrefix }}{{ navigationItemChild.slug }}">
                                                    {% if navigationItemChild.navigationText %}
                                                        {{ navigationItemChild.navigationText }}
                                                    {% else %}
                                                        {{ navigationItemChild.title }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {# Current Page #}
            <span class="line">
            </span>
        </div>
    </div>
</nav>
