{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    <header>
        <div class="default-page__headline">
            <h1 class="default-page__headline__title">{{ page.article.title }}</h1>
        </div>
    </header>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.article.title }}">
            <div class="article article--default-page">
                {{ page.article.copy|raw }}
            </div>
        </article>
        {% include '@widgets/listings.html.twig' with { 'siteListings': siteListings, 'path': path, 'page': page, 'amp': amp } only %}
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
