{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    <section role="region" aria-label="{{ page.getComponent('sitesOfTheMonth').title }}">
        {% include '@widgets/leader-board.html.twig' with {'leaderBoard': page.getComponent('sitesOfTheMonth'), 'amp': amp } only %}
    </section>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.article.title }}">
            <div class="article article--home">
                <header>
                    <h2 class="article__header">
                        {{ page.article.title }}
                    </h2>
                </header>
                <div class="article__copy">
                    {{ page.article.copy|raw }}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
