<div id="logo">
    <a href="{{ path('home') }}">
        {% include '@micro/img.html.twig' with { 'img_src': asset('img/logo/logo.png'), 'img_width': 306, 'img_height': 48, 'img_alt': app.name, 'img_srcset': asset('img/logo/logo@2x.png') ~ " 2x, " ~ asset('img/logo/logo@3x.png') ~ " 3x", 'img_layout': 'responsive', 'amp': amp } only %}
    </a>
</div>
