<div id="search">
    {% if amp %}
        {% set formTag = 'amp-form' %}
    {% else %}
        {% set formTag = 'form' %}
    {% endif %}
    <{{ formTag }} id="search__form--header" class="search__form" role="search" autocomplete="off" method="get" action="{{ path('search') }}">
        <input autocomplete="false" name="hidden" type="text" class="hidden">
        <label for="q">Search site:</label>
        <div class="search__form__autocomplete">
            <input id="search__form__query" type="search" name="q" placeholder="Search OhMyBingo" spellcheck="false" aria-label="Search site content">
        </div>
        <button>
            <i class="fas fa-search"></i>
        </button>
    </{{ formTag }}>
</div>
