<div id="skyscraper">
    {% if show_quicklinks == true %}
        {% block page_quicklinks %}
            {% include '@widgets/quicklinks.html.twig' with { 'quickLinks': quickLinks, 'amp': amp } only %}
        {% endblock %}
    {% endif %}
</div>