{% extends 'base.html.twig' %}
{% block page_main_content %}<header>
    <div class="error-page__headline">
        <h1 class="error-page__headline__title">{{ page.article.title }}</h1>
    </div>
    </header>
    <section>
        <article role="region" aria-label="{{ page.article.title }}">
            <div class="article article--error-page">
                {{ page.article.copy|raw }}
            </div>
        </article>
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
