{### Header ###}
<header>
    <div id="header" class="container">
        {# Mobile #}
        <div class="d-lg-none">
            {# Main Container #}
            <div class="header__main__container--mobile">
                <div class="header__item--menu">
                    {% include '@elements/mobile/menu.mobile.html.twig' %}
                </div>
                <div class="header__item--logo">
                    {% include '@elements/mobile/logo.mobile.html.twig' with { 'app': app, 'amp': amp } only %}
                </div>
                <div class="header__item--search">
                    {% include '@elements/mobile/search.mobile.html.twig' %}
                </div>
            </div>
            {# Search Container #}
            <div id="header__search__container--mobile" class="header__search__container--mobile">
                {% include '@elements/mobile/search-bar.mobile.html.twig' %}
            </div>
        </div>
        {# Tablet + Desktop #}
        <div class="d-none d-lg-block">
            <div class="header__container">
                <div class="row">
                    <div class="col-md-4">
                        {% include '@elements/logo.html.twig' with { 'app': app, 'amp': amp } only %}
                    </div>
                    <div class="col-md-8 d-none d-md-block">
                        {% include '@elements/search.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
