<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for url in urlset %}
        <url>
            <loc>{{ url.loc }}</loc>
            <lastmod>{{ url.lastMod }}</lastmod>
            <changefreq>{{ url.changeFreq }}</changefreq>
            <priority>{{ url.priority }}</priority>
        </url>
    {% endfor %}
</urlset>
