/*** Leaderboard ***/

/* Container */
#leaderboard {
  width: 100%;
  margin-top: 19px;
  @media screen and (min-width: $break-md) {
    margin-top: 30px;
  }
  /* Header */
  .leaderboard__header {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 2.875em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    width: 100%;
    margin: 0 0 20px 0;
    color: #0b0c0c;
    @media screen and (max-width: $break-md) {
      text-align: center;
      margin-bottom: 8px;
      font-size: 2em;
      color: #0b0c0c;
    }
    @media screen and (max-width: $break-sm) {
      text-align: center;
      margin-bottom: 8px;
      line-height: 1.5;
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #0b0c0c;
    }
  }
  .leaderboard__content{
    width: 100%;
    //margin: 0;
    //padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    @media screen and (max-width: $break-sm) {
      justify-content: center;
      align-items: center;
      align-content: center;
      //-webkit-flex-wrap: wrap;
      //flex-wrap: wrap;
    }
    //@media screen and (max-width: $break-md) {
    //  -webkit-flex-wrap: wrap;
    //  flex-wrap: wrap;
    //}
    .bright-bingo {
      .leaderboard__item__type{
        color: #ffffff;
        background-color: #ce0000;
      }
      .leaderboard__item__logo {
        //height: 138px;
      }
    }
    .jackpot-slotty {
      .leaderboard__item__type{
        color: #0b0c0c;
        background-color: #b3d7ff;
      }
      .leaderboard__item__logo {
        //height: 138px;
      }
    }
    .kerching-casino {
      .leaderboard__item__type{
        color: #ffffff;
        background-color: #8b8b8b;
      }
      .leaderboard__item__logo {
        //height: 62px;
      }
    }
    .leaderboard__item{
      //padding: 0 10px; /* We add a padding to leader board divs */
      float: left;
      list-style: none;
      width: 224px;
      margin: 0;
      //align-self: center;
      @media screen and (min-width:  $break-md) and (max-width: $break-lg)  {
        width: 204px;
        margin: 0;
      }
      @media screen and (max-width: $break-md) {
        width: 100%;
        margin: 0 40px 40px 40px;
      }
      @media screen and (max-width: $break-sm) {
        width: 224px;
        margin: 0 40px 40px 40px;
      }
      &:last-child {
        @media screen and (max-width: $break-sm) {
          margin-bottom: 0;
        }
      }
      &__type{
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
      }
      &__content {
        width: 100%;
        padding: 0;
        background-color: #f8f8f8;
        position: relative;
        height: 350px;
        @media screen and (min-width: $break-md) {
          height: 380px; // Set to a fixed height (357 + 20)
          padding: 10px 0;
        }
        .leaderboard__logo {
          //width: 100%;
          //height: 140px;
          position: relative;
          text-align: center;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 220px;
          height: 137px;
          margin: 0;
          padding: 20px 2px 0;
          @media screen and (min-width: $break-md) {
            margin: 0;
            padding: 20px 0 0;
            width: 224px;
            height: 140px;
          }
          @media screen and (min-width:  $break-lg) {
            padding: 20px 0 0;
            width: 224px;
            height: 170px;
          }
          img {
            //object-fit: contain;
            width: 220px;
            height: 137px;
            @media screen and (min-width: $break-md) {
              width: 224px;
              height: 140px;
            }
            @media screen and (min-width: $break-md) {
              //width: 100%;
              width: 224px;
              height: 170px;
            }
          }
        }
        .leaderboard__details {
          position: relative;
          margin: 25px 10px 0;
          @media screen and (min-width: $break-md) {
            //position: absolute;
            margin: 20px 10px 13px;
            //bottom: 75px; // Position absolute
          }
          &__name {
            display: block;
            //height: 26px;
            font-size: 1.188em;
            font-weight: 600;
            color: #0b0c0c;
            margin: 0;
            padding: 0;
            //@media screen and (min-width: $break-md)  {
            //  font-size: 1.188em;
            //}
            a {
              color: inherit;
              text-decoration: none;
            }
          }
          &__copy {
            margin: 13px 0 0;
            display: block;
            font-size: 1.188em;
            //height: 115px;
            //@media screen and (min-width: $break-md)  {
            //  font-size: 1.188em;
            //}
          }
        }
        .leaderboard__button {
          width: 100%;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          position: absolute;
          bottom: 25px;
          //margin-bottom: 31px;
          object {
            width: auto;
          }
          .button-play-now-with-arrow {
            //flex-grow: 1;
            //padding-right: 40px; // padding for arrow
            width: auto;
            //width: 100%;
          }
        }
      }
    }
  }

}
