//import $imgPath;
@import "../../variables";

/*** Listings ***/
#listings { // .listings
  //background: blue;
  width: 100%;
  .listing {
    width: 100%;
    padding: 16px 18px 20px;
    min-height: 208px;
    overflow: hidden;
    border: solid 1px #979797;
    margin-bottom: 10px;
    position: relative;
    &__logo {
      float: left;
      width: 137px;
      margin-right: 38px;
      @media screen and (max-width: $break-md) {
        width: 100px;
        margin-right: 18px;
      }
      img {
        width: 137px;
        height: 137px;
        @media screen and (max-width: $break-md) {
          width: 100px;
          margin-right: 100px;
        }
      }
    }
    // Info
    &__info {
      width: -webkit-calc(100% - 364px);
      width: expression(100% - 364px);
      width: -moz-calc(100% - 364px);
      width: -o-calc(100% - 364px);
      width: calc(100% - 364px);
      //@media screen and (max-width: $break-md) {
      //  width: -webkit-calc(100% - 307px);
      //  width: expression(100% - 307px);
      //  width: -moz-calc(100% - 307px);
      //  width: -o-calc(100% - 307px);
      //  width: calc(100% - 307px);
      //}
      //background: green;
      @media screen and (max-width: $break-md) {
        width: 100%;
      }
      float: left;
      &__title {
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.375em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b0c0c;
        a {
          color: inherit;
          &:hover {
            color: inherit;
          }
        }
      }
      &__offer-line-1 {
        font-family: 'Open Sans SemiBold', sans-serif;
        font-size: 1.375em;
        font-stretch: normal;
        line-height: 1.55;
        letter-spacing: normal;
        color: #0b0c0c;
      }
      &__offer-line-2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.188em;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #0b0c0c;
      }
    }
    // Action
    &__action {
      width: 169px;
      //height: 200px;
      margin-left: 20px;
      //background: green;
      float: left;
      //@media screen and (max-width: $break-md) {
      //  margin-top: 38px;  //  push action down on mobile
      //}
      //@media screen and (max-width: $break-md) {
      //  width: 100%;
      //  float: none;
      //}
      &__label {
        display: inline-block;
        width: auto;
        height: 20px;
        background-color: #ffbf34;
        font-size: 0.875em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0b0c0c;
        margin: 0 0 21px 0;
        padding: 1px 7px 2px;
      }
      &__play-button {
        //width: 169px;
        //height: 44px;
        .button-play-now {
          padding: 6px 35px;
        }
      }
      &__review-link {
        display: block;
        font-size: 1.188em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #007aff;
        text-decoration: underline;
        margin: 14px 0 0 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__terms {
      clear: both;
      font-size: 0.688em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      padding: 20px 0 0 0;
      color: #0b0c0c;
      &__link {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .listing--site {

  }
  .listing--featured-site {
    background-color: rgba(206, 0, 0, 0.09);
    position: relative;
    .listing__action__featured-site {
      width: 100%;
      padding-bottom: 18px;
      .listing__action__featured-site-icon {      display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 62px;
        object {
          align-self: center;
          width: 100%;
          height: 62px;
        }
      }
      .listing__action__featured-site-title {
        align-self: center;
        clear: both;
        width: 100%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b0c0c;
      }
    }
  }
}

.listings__pagination { // #listings-pagination
  clear: both;
  width: 100%;
  margin: 100px 0 0;
  //display: none;
  &__loader {
    clear: both;
    width: 100%;
    display: flex;
    justify-content: center;
    &__icon {
      clear: both;
      align-self: center;
      text-align: center;
      display: block;
      width: 128px;
      height: 15px;
      //width: 56px;
      //height: 21px;
      background: transparent url($imgPath + 'loader.gif');
    }
  }
}