/*** modal***/

/* Container */
.modal {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  &__overlay {
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    display: block;
    position: fixed; /* Sit on top of the page content */
    //display: none; /* Hidden by default */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 12, 12, 0.83); /* Black background with opacity */
    z-index: 110; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }
  &__content{
    position: relative;
    z-index: 120; /* Specify a stack order in case you're using a different order for other elements */
    // cursor: pointer; /* Add a pointer on hover */
    //background-color: #fefefe;
    margin: 10px auto 0; /* 15% from the top and centered */
    padding: 20px;
    //border: 1px solid #888;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    //width: 80%; /* Could be more or less, depending on screen size */
    width: 706px;
    &__close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 24px;
      height: 24px;
      //transform: rotate(-45deg);
      //background-color: #d8d8d8;
      display: block;
      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__copy {
      width: 100%;
      //font-family: "Open Sans";
      font-size: 1.188em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0b0c0c;
      margin: 40px 0 0;
    }
    &__sites {
      width: 100%;
      height: 450px;
      //background: orange;
      .modal__sites__site {
        //background: pink;
        clear: both;
        margin: 24px 0 0;
        &__header {
          width: 100%;
          //height: 26px;
          //font-family: "Open Sans";
          font-size: 1.188em;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #0b0c0c;
        }
        &__content {
          margin: 17px 0 0 0;
          //background: red;
          //height: 145px;
          .modal__site__logo {
            float: left;
            width: 145px;
            height: 145px;
            //background: beige;
            //position: relative;
            //text-align: center;
            //display: -webkit-box;
            //display: -moz-box;
            //display: -ms-flexbox;
            //display: -webkit-flex;
            //display: flex;
            //-webkit-flex-wrap: nowrap;
            //flex-wrap: nowrap;
            //justify-content: center;
            //align-items: center;
            //align-content: center;
            img {
              display: block;
            }
          }
          .modal__site__info {
            float: left;
            width: -webkit-calc(100% - 355px);
            width: expression(100% - 355px);
            width: -moz-calc(100% - 355px);
            width: -o-calc(100% - 355px);
            width: calc(100% - 355px);
            margin-left: 20px;
            //background: green;
            //height: 145px;
            //background: #3f4e5e;
            &__welcome-offer {
              width: 100%;
              //background: #4f805d;
            }
            &__rating {
              width: 178px;
              height: 74px;
            }
            &__rating--stars {
              width: 100%;
              height: 32px;
              //height: 50px;
              //background: #4f805d;
              display: block;
              float: left;

              object {
                width: 32px;
                height: 32px;
              }
            }
            &__rating--summary {
              //background: brown;
              clear: both;
              width: 100%;
              text-align: center;
              //font-family: OpenSans;
              font-size: 1em;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #0b0c0c;
              padding: 10px 0 0;
            }
          }
          .modal__site__action {
            float: left;
            width: 170px;
            height: 100px;
            margin-left: 20px;
            //background: #0000F0;
            &__play-button {
              //width: 169px;
              //height: 44px;
              object {
                width: auto;
              }
              .button-play-now {
                padding: 6px 35px;
                width: auto;
              }
            }
            &__review-link {
              display: block;
              font-size: 1.188em;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #007aff;
              text-decoration: underline;
              margin: 14px 0 0 0;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    &__action {
      height: 50px;
      clear: both;
      //background: pink;
      .modal__action__cancel {
        float: left;
        width: 50%;
        .modal__action__cancel__button {
          //width: 100%;
          width: auto;
          display: inline-block;
          object {
            width: auto;
          }
          .button-cancel {
            //position: relative;
            //padding-top: 0;
            //span {
            //  display: block;
            //  position: relative;
            //  top: 0
            //}
            //display: inline-block;
            //padding: 6px 35px;
            //width: auto;
          }
        }
      }
      .modal__action__go {
        float: right;
        width: 50%;
        .modal__action__go__button {
          float: right;
          width: auto;
          display: inline-block;
          object {
            width: auto;
          }
          .button-go {
            padding: 6px 35px;
            width: auto;
          }
        }
      }
    }
  }
  .modal__content__terms {
    clear: both;
    //padding-top: 0;
    padding-bottom: 30px;
    p {
      font-size: 0.875em;
    }
  }
}
/* Inline Modal  */
.modal--inline {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  position: relative; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  //background: red;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: solid 1px #979797;
  .modal__content {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    .modal__content__copy {
      padding-bottom: 58px;
    }
    .modal__content__sites {
      clear: both;
      width: 100%;
      height: auto;
    }
    .modal__content__action {
      clear: both;
      padding-top: 50px;
    }
    .modal__content__terms {
      clear: both;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
