/*** Listings ***/
#news-listings {
  //background: blue;
  width: 100%;
  //height: 900px;
  .news-listing {
    width: 100%;
    padding: 16px 18px 20px;
    //width: 745px;
    min-height: 108px;
    overflow: hidden;
    //height: 208px;
    border: solid 1px #979797;
    //background-color: rgba(206, 0, 0, 0.09);
    margin-bottom: 10px;
    position: relative;
    // Info
    &__info {
      width: 100%;
      //background: green;
      float: left;
      &__title {
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.375em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #0b0c0c;
        a {
          //color: inherit;
          &:hover {
            //color: inherit;
          }
        }
      }
      &__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.375em;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.55;
        letter-spacing: normal;
        color: #0b0c0c;
      }
    }
  }
}