/*** Notification Bell ***/

/* Container */
#notification-bell {
  display: block;
  width: 61px;
  height: 61px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 30;
  @media screen and (max-width: $break-sm) {
    bottom: 40px;
  }
  @media screen and (max-width: $break-md) {
    bottom: 40px;
  }
  /* Container */
  .notification-bell__container {
    position: relative;
    cursor: pointer;
    z-index: 20;
    /* Counter */
    .notification-bell__counter {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 23px;
      height: 23px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      font-size: 19px;
      line-height: 23px;
      text-align: center;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #0b0c0c;
      border-radius: 100%;
      z-index: 20;
    }
    /* Font Awesome Icon */
    .notification-bell__icon {
      display: block;
      font-size: 48px;
      line-height: 61px;
      text-align: center;
      color: #ffffff;
      //background: green;
      border-radius: 100%;
      background-color: #017aff;
      z-index: 10;
    }
  }
  /* Popup */
  .notification-bell__popup {
    //height: 799px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #979797;
    background-color: #ffffff;
    position: fixed; // NB: We use fixed position so that the drop below the fold does not effect
    //top: -750px;
    //left: -280px;
    z-index: -10;
    padding: 0 0 20px 0;
    display:none; // Hide by default. Slide up and show with Javascript

    @media screen and (max-width: $break-md) {
      width: 100%;
      height: 100vh;
      //background: burlywood;
      box-shadow: none;
      right: 0;
      bottom: 0;
      border: solid 10px rgba(11, 12, 12, 0.78);
    }
    @media screen and (min-width: $break-md) {
      width: 301px;
      bottom: 50px;
      right: 50px;
    }

    /* Item */
    .notification-bell__popup__item {
      clear: both;
      .notification-bell__item__name {
        margin: 10px 10px 0;
        a {
          font-size: 19px;
          font-weight: bold;
          text-decoration: none;
          color: #017aff;
        }
      }
      .notification-bell__item__details {
        @include clearfix;
        width: -webkit-calc(100% - 20px);
        width: expression(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: -o-calc(100% - 20px);
        width: calc(100% - 20px);
        //height: auto;
        //overflow: hidden;
        margin: 0;
        padding: 10px 10px 10px 10px;
        border-bottom: 1px solid #979797;
        height: 130px; // Set to fixed height
        position: relative;
        //background: blue;
        .notification-bell__details__logo {
          display: block;
          width: 60px;
          height: 60px;
          margin: 0 10px 0 0;
          float: left;
          font-size: 1em;
          line-height: 1em;
          //background: green;
          color: #0b0c0c;
          img {
            width: 60px;
            height: 60px;
          }
        }
        .notification-bell__details__message {
          //float: none;
          //width: auto;
          //background: blue;
          //padding: 10px 0 0;
          font-size: 1em;
          line-height: 1em;
          color: #0b0c0c;
          position: relative;
        }
        .notification-bell__details__button {
          position: absolute;
          bottom: 11px;
          width: 100%;
          //@include clearfix;
          //padding: 10px 0 0;
          //margin: 20px 0 5px 0;
          height: 44px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          .button-play-now-with-arrow {
            width: 169px;
            //@include centerer(true, false);
          }
        }
      }
    }
    .notification-bell__popup__terms {
      padding: 10px;
      p {
        font-size: 0.875em;
        line-height: 1em;
        color: #0b0c0c;
      }
    }
  }
}
