@import "~bootstrap/scss/bootstrap";

/*** Poster ***/

/* Container */
#poster {
  position: relative;
  width: 100%;
  margin-top: 30px;
  z-index: 1;

  /* Content */
  .poster__content{
    width: 100%;
    height: auto;
    overflow: hidden;
    @media screen and (min-width: $break-md) {
      height: 427px;
    }
    padding: 21px 13px 41px;
    background-color: #f8f8f8;
    //position: -webkit-sticky; /* Safari */
    //position: sticky;
    //top: 0;
    //background: pink;
  }
  /* Header */
  .poster__header {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.875em;
    width: 100%;
    font-weight: bold;
    line-height: 1.04;
    margin: 0 0 20px 0;
    color: #0b0c0c;
  }
  /* Details */
  .poster__details {
    @include clearfix;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    &--left {
      float: left;
      align-self: flex-start;
      width: 40%;
      //background: green;
    }
    &--right {
      float: right;
      align-self: flex-end;
      width: 60%;
      //background: orange;
    }
    &__rating {
      margin-bottom: 52px;
      .rating-stars {
        display: block;
        float: left;
        //background: blue;
        width: 130px;
        height: 24px;
        @media screen and (min-width: $break-md) {
          width: 190px;
          height: 44px;
        }
        object {
          width: 20px;
          height: 20px;
          @media screen and (min-width: $break-md) {
            width: 32px;
            height: 32px;
          }
        }
      }
      .rating-number {
        clear: both;
        display: block;
        font-size: 1em;
        color: #0b0c0c;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding: 0 0 0 10px;
        text-align: left;
      }
      .rating-count {
        @media screen and (max-width: $break-md) {
          clear: both;
        }
      }
    }
    &__logo {
      @include clearfix;
      width: 130px;
      height: 66px;
      @media screen and (min-width: $break-md) {
        width: 150px;
        height: 77px;
      }
      @media screen and (min-width: $break-lg) {
        width: 255px;
        height: 131px;
      }

      img {
        //width: 100%;
        //height: 100%;
        width: 130px;
        height: 66px;
        @media screen and (min-width: $break-md) {
          width: 150px;
          height: 77px;
        }
        @media screen and (min-width: $break-lg) {
          width: 255px;
          height: 131px;
        }
      }
    }
    &__welcome-offer-line-1 {
      font-size: 2.063em;
      font-weight: bold;
      color: #0b0c0c;
    }
    &__welcome-offer-line-2 {
      font-size: 1.375em;
      font-weight: bold;
      color: #0b0c0c;
      margin-top: 27px;
    }
    &__play-button {
      margin-top: 27px;
      width: 169px;
    }
  }
  /* Terms and conditions */
  .poster__terms-and-conditions {
    @include clearfix;
    width: 100%;
    //background: orange;
    font-size: 1.000em;
    margin-top: 38px;
    color: #0b0c0c;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
/* Poster Stick */
#poster.stick {
  position: fixed;
  top:0;
  //margin: 60px 0 0;
  margin: 0;
  z-index: 100;
  //padding-left: 50px;
  //background: red;
  @media screen and (min-width: $break-lg) {
    width: 739px;
  }
}
#poster.no-stick {
  position: relative;
  width: 100%;
  margin-top: 30px;

  padding-left: 20px;
  z-index: 1;
}