/*** Quicklinks ***/
#quicklinks {
  //padding: 20px 0 0;
  //margin: 20px 0 20px 0;
  width: 100%;
  margin-top: 6px;
  @media screen and (min-width: $break-md) {
    margin-top: 38px;
  }
  position: relative;
  //margin-bottom: 20px;
  .quicklinks__title{
    text-align: center;
    font-size: 19px;
    color: #0b0c0c;
    width: 100%;
  }
  .quicklinks__content{
    text-align: center;
    font-size: 19px;
    color: #0b0c0c;
    position: relative;
    width: 100%;
    margin: 0;
    @media screen and (max-width: $break-md) {
      margin: 0 10px;
      width: -webkit-calc(100% - 20px);
      width: expression(100% - 20px);
      width: -moz-calc(100% - 20px);
      width: -o-calc(100% - 20px);
      width: calc(100% - 20px);
    }
    &__list {
      //@include centerer(true, false);
      //height: inherit;

      width: 100%;
      //@media screen and (max-width: $break-md) {
      //  width: -webkit-calc(100% - 40px);
      //  width: expression(100% - 40px);
      //  width: -moz-calc(100% - 40px);
      //  width: -o-calc(100% - 40px);
      //  width: calc(100% - 40px);
      //}

      //padding: 0 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      //margin-left: 10px;
      //margin-right: 10px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;

      align-items: flex-start;
      align-content: flex-start;

      @media screen and (max-width: $break-sm) {
        justify-content: space-around;
        margin-top: 11px;
        margin-bottom: 0;
      }
      @media screen and (min-width: $break-sm) {
        justify-content: center;
      }
      .quicklinks__list__item {
        //cursor: pointer;
        //width: auto;
        text-align: center;
        padding: 0 5px;
        @media screen and (min-width: $break-sm) {
          margin-left: 14px;
          margin-right: 14px;
        }
        @media screen and (min-width: $break-md) {
          margin-left: 20px;
          margin-right: 20px;
        }
        //&:first-child {
        //  margin-left: 0;
        //}
        //&:last-child {
        //  margin-right: 0;
        //}
        .quicklinks__list__item__image {
          text-align: center;
          display: block;
          width: 90px;
          height: 90px;
          @media screen and (max-width: $break-md) {
            width: 60px;
            height: 60px;
          }
          img {
            text-align: center;
            display: inline-block;
            width: 90px;
            height: 90px;
            @media screen and (max-width: $break-md) {
              width: 60px;
              height: 60px;
            }
            //object-fit: contain;
            //width: auto;
            //height: 100%;
            //width: 60px;
            //height: 60px;
            //&:hover {
            //  background: orange
            //}
          }
        }
        .quicklinks__list__title {
          display: block;
          text-align: center;
          font-size: 0.7em;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.25;
          letter-spacing: normal;
          margin: 10px 0 0;
          color: #0b0c0c;
          text-decoration: none;
          @media screen and (max-width: $break-md) {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.688em;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #0b0c0c;
          }
          //p {
          //}
        }
      }
    }
  }
}


