/* Search Form Autocomplete */
.search__form__autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  //background: green;
  //width: 100%;
  //
  //@media screen and (max-width: $break-sm) {
  //  width: 100%;
  //}
  @media screen and (max-width: 767px) {
    width: 100%;
  }


  .autocomplete__items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: -webkit-calc(100% - 3px);
    top: expression(100% - 3px);
    top: -moz-calc(100% - 3px);
    top: -o-calc(100% - 3px);
    top: calc(100% - 3px);

    width: -webkit-calc(100% - 6px);
    width: expression(100% - 6px);
    width: -moz-calc(100% - 6px);
    width: -o-calc(100% - 6px);
    width: calc(100% - 6px);

    left: 3px;
    right: 0;

    /* Autocomplete CustomScrollbar */
    //height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 4.5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      //background: transparent;
      background-color: #fafafa;
      border-radius: 4.5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(73, 71, 71, 0.61);
      border-radius: 4.5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(73, 71, 71, 0.61);
      border-radius: 4.5px;
    }

    .autocomplete__item {
      background-color: #fafafa;
      border-bottom: solid 1px #979797;
      height: 66px;
      font-size: 1.125em;
      font-family: 'Open Sans', sans-serif;
      color: #0b0c0c;
      padding: 7px;
      cursor: pointer;
      &__label {
        color: #0b0c0c;
        //strong {
        //}
      }
      &__category {
        font-size: 0.938em;
        color: #757575;
      }
    }
    .autocomplete__item.odd {

    }
    .autocomplete__item.even {
      background-color: #ffffff;
      .autocomplete__item__label {
        color: #0b0c0c;
        strong {
        }
      }
      .autocomplete__item__category {
        color: #757575;
      }
    }
    &:hover {
      /*when hovering an item:*/
      //background-color: #007aff;
      //.autocomplete__item__label {
      //  color: #ffffff;
      //}
      //.autocomplete__item__category {
      //  color: #ffffff;
      //}
    }
    .autocomplete__item--active {
      /*when navigating through the items using the arrow keys:*/
      background-color: #007aff!important;
      color: #ffffff!important;
      .autocomplete__item__label {
        color: #ffffff!important;
      }
      .autocomplete__item__category {
        color: #ffffff!important;
      }
    }
  }
}

