/*** Content ***/
#content {
  padding: 0 0 50px;
  min-height: 1200px; /* fix - temp */
  overflow: hidden;
  clear: both;

  /* Main */
  #main{
    /*background: orange;*/
    clear: both;
    padding-bottom: 100px;

    /* Widget */
    #main__widget {
      clear: both;
    }

    /* Copy */
    #main__copy {
      clear: both;
      position: relative;
      @media screen and (max-width: $break-sm) {
        margin: 0 20px; // Add margin to copy
      }
      @media screen and (max-width: $break-md) {
        margin: 0 20px; // Add margin to copy
      }
      .article {
        margin: 30px 0 0;
        @media screen and (min-width: $break-md) {
          margin: 50px 0 0;
        }
        &__header {
          margin: 0 0 20px;
          @media screen and (min-width: $break-md) {
            margin: 0 0 30px;
          }
        }
        &__copy {
        }
      }
    }
  }
}
