@import "~bootstrap/scss/bootstrap";

/*** Footer ***/

/* Container */
#footer {
  //height: 231px;
  background-color: #ce0000;
  padding: 20px 0 40px;
  position: relative;
  @media screen and (max-width: $break-sm) {
    padding: 20px 0 60px;
  }
  @media screen and (max-width: $break-md) {
    padding: 20px 0 60px;
  }

  /* Footer Main */
  .footer__main {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    @media screen and (max-width: $break-sm) {
      height: 387px;
    }
    @media screen and (max-width: $break-md) {
      height: 387px;
    }
    &__links {
      @media screen and (max-width: $break-sm) {
        float: left;
        width: 60%;
      }
      @media screen and (max-width: $break-md) {
        float: left;
        width: 60%;
      }
    }
    &__license {
      padding: 10px 0 30px;
      @media screen and (max-width: $break-sm) {
        float: right;
        width: 60px;
        padding: 0;
      }
      @media screen and (max-width: $break-md) {
        float: right;
        width: 60px;
        padding: 0;
      }
    }
  }

  /* Links */
  .links{
    &__list{
      //height: 22px;
      //text-align: left;
      margin-bottom: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      @media screen and (max-width: $break-sm) {
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      @media screen and (max-width: $break-md) {
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      li{
        align-self: center;
        float: left;
        height: 22px;
        list-style: none;
        @media screen and (max-width: $break-sm) {
          width: 100%;
          margin-bottom: 20px;
        }
        @media screen and (max-width: $break-md) {
          width: 100%;
          margin-bottom: 20px;
        }
        a{
          text-decoration: none;
          height: 22px;
          font-family: 'Open Sans', sans-serif;
          font-size: 1em;
          color: #ffffff;
          padding: 0 10px;
          display: block;
          @media screen and (max-width: $break-sm) {
            padding: 0;
            font-size: 1em;
            line-height: 2.44em;
            color: #ffffff;
          }
          @media screen and (max-width: $break-md) {
            padding: 0;
            font-size: 1em;
            line-height: 2.44em;
            color: #ffffff;
          }
        }
      }
    }
  }

  /* License */
  .license {
    //@include centerer(true, false);
    //margin-top: 30px;
    // Style object tag for svg to be a clickable link
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

    @media screen and (max-width: $break-sm) {
      width: 60px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
    }
    @media screen and (max-width: $break-md) {
      width: 60px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
    }
    &__item,
    &__item--be-gamble-aware,
    &__item--gamcare,
    &__item--age-plus {
      align-self: center;
      &__link {
        text-decoration: none;
        outline: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        &:hover {
          text-decoration: none;
          outline: none;
        }
        .license__item__content {
          display: inline-block;
        }
        object {
          pointer-events: none;
          position: relative;
          z-index: -1
        }
      }
      /* Image / SVG / Object */
      &__icon {
        float: left;
        display: block;
        margin: 15px;
      }
    }
    &__item--be-gamble-aware {
      order: 1;
      @media screen and (max-width: $break-sm) {
        width: 274px;
        position: absolute;
        bottom: 120px;
        left: 50%;
        margin-left: -137px;
      }
      @media screen and (max-width: $break-md) {
        width: 274px;
        position: absolute;
        bottom: 120px;
        left: 50%;
        margin-left: -137px;
      }
    }
    &__item--gamcare {
      order: 2;
    }
    &__item--age-plus {
      order: 3;
    }
    .be-gamble-aware{
      width: 488px;
      height: 71px;
      object-fit: contain;
      @media screen and (max-width: $break-sm) {
        width: 274px;
        height: 40px;
      }
      @media screen and (max-width: $break-md) {
        width: 274px;
        height: 40px;
      }
    }
    .gamcare {
      width: 60px;
      height: 71px;
      object-fit: contain;
      padding: 5px 0 0 0;
      @media screen and (max-width: $break-sm) {
        padding: 0;
        width: 60px;
        height: 60px;
      }
      @media screen and (max-width: $break-md) {
        padding: 0;
        width: 60px;
        height: 60px;
      }
    }
    .age-plus {
      width: 65px;
      height: 71px;
      object-fit: contain;
      padding: 5px 0 0 0;
      @media screen and (max-width: $break-sm) {
        padding: 0;
        width: 60px;
        height: 60px;
      }
      @media screen and (max-width: $break-md) {
        padding: 0;
        width: 60px;
        height: 60px;
      }
    }
  }

  /* Copyright */
  .footer__copyright {
    .copyright {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
