@import "~bootstrap/scss/bootstrap";

/* Header */
#header {
  padding: 0;
  .header__container {
    padding-top: 20px;
    height: 100px; // 108px
    width: 100%;
   //margin: 0 0 10px;
    //background: pink;
  }
  #logo {
    float: left;
    width: 306px;
    height: 48px;
    img{
      width: 306px;
      height: 48px;
      object-fit: contain;
    }
  }
  #search {
    float: right;
    //background: red; width: 500px;
    .search__form {
      label {
        display: none;
      }
      button {
        float: left;
        width: 47px;
        height: 47px;
        background-color: #007bff;
        color: #FFF;
        font-size: 1.4em;
        border: 1px solid #007bff;

      }
      input {
        width: 285px;
        height: 47px;
        font-family: 'Open Sans Light', sans-serif;
        border: 1px solid #979797;
        border-left: none;
        padding: 4px 8px;
        float: right;
        font-size: 1em;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.7px;
        //letter-spacing: 0.025em;
        color: #0b0c0c;
      }
    }
  }
}