@import "~bootstrap/scss/bootstrap";

/*** Navigation ***/

/* Container */
#navigation {
  @include clearfix;
  //padding: 8px 0 0;
  position: relative;
  margin: 0;
  width: 100%;
  @media screen and (max-width: $break-lg) {
    display: none; // Show with JS
    background-color: #0b0c0c;
  }
  //height: 26px;
  .navigation__menu {
    height: 26px;
    position: relative;
    z-index: 10;
    width: 100%;
    //margin: 0 0 8px 0;
    @media screen and (max-width: $break-lg) {
      background-color: #0b0c0c;
      width: 100%;
      //height: 270px; // position submenus relatively
      position: relative;
      //top: -20px;
      //height: 100vh; //Fix: Remove when we float left
    }
    .navigation__menu__item {
      float: left;
      //width: 100px;

      list-style: none;
      //background: orange;
      @media screen and (min-width: $break-lg) {
        height: 26px;
        margin: 0 43px 0 0;
        padding: 0 0 5px;
        border-bottom: solid 5px transparent;
      }
      position: relative;
      //&--home {
      //  background-color: grey;
      //}
      //&--slots {
      //  background-color: brown;
      //}
      //&--casino {
      //  background-color: purple;
      //}
      //&--news {
      //  background-color: orange;
      //}
      //&--articles {
      //  background-color: blue;
      //}
      @media screen and (max-width: $break-lg) {
        float: left;
        clear: both;
        width: 100%;
        //height: 50px;
        padding: 13px 0 0;
      }
      &:last-child {
        .navigation__item__link {
          border-bottom: none
        }
      }
      .navigation__item__link{
        position: relative;
        z-index: 10;
        display: block;
        text-decoration: none;
        //width: 64px;
        height: 26px;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
        font-weight: bold;
        color: #0b0c0c;
        text-align: center;
        width: 100%;

        // Mobile
        @media screen and (max-width: $break-lg) {
          margin: 0 10px;
          //height: 30px; // Set to fixed height
          padding: 0 0 40px;
          border-bottom: solid 1px #7a7a7a;
          text-align: left;
          font-size: 1.063em;
          letter-spacing: -0.7px;
          color: #ffffff;
          width: -webkit-calc(100% - 20px);
          width: expression(100% - 20px);
          width: -moz-calc(100% - 20px);
          width: -o-calc(100% - 20px);
          width: calc(100% - 20px);
          &:after {
            //content : url(#{$assetPath}/img/navigation/arrow.png);
            position: absolute;
            right: 20px;
            top: 22px;
            height: 18px;
            width: 8px;
            pointer-events: none;
          }
        }
        &:hover {
          //background: red;
          @media screen and (max-width: $break-lg) {
            //background-color: #007aff;
          }
          @media screen and (min-width: $break-lg) {
            padding: 0 0 40px 0;
            border-bottom: solid 5px #ce0000;
          }
        }
      }
      .navigation__menu__link {
        color: #007aff;
        &:hover {
        }
      }
      /* Navigation Menu */
      .bingo-menu {
        @media screen and (min-width: $break-lg) {
          width: 516px;
          > ul {
            width: -webkit-calc(50% - 1px);
            width: expression(50% - 1px);
            width: -moz-calc(50% - 1px);
            width: -o-calc(50% - 1px);
            width: calc(50% - 1px);
          }
        }
      }
      .slots-menu {
        @media screen and (min-width: $break-lg) {
          width: 268px;
          > ul {
            width: calc(100% - 1px);
          }
        }
      }
      .casino-menu {
        @media screen and (min-width: $break-lg) {
          width: 268px;
          > ul {
            width: calc(100% - 1px);
          }
        }
      }
      .articles-menu {
        @media screen and (min-width: $break-lg) {
          width: 435px;
          > ul {
            width: calc(100% - 1px);
          }
        }
      }
      .navigation__menu,
      .navigation__menu--double {
        position: relative;
        z-index: 20;
        display: none; /* Show with JavaScript */
        //display: flex;
        height: auto;
        //display:inline-block;

        width: auto;
        //width: auto;

        //background-color: #ffffff;
        z-index: 20;

        /* Mobile submenu container */
        @media screen and (max-width: $break-lg) {
          position: relative;
          background-color: #444444;
          color: #ffffff;
          //padding: 10px 10px;
          //top: 50px;
          left: 0;
          width: 100%;
        }
        /* Desktop submenu container */
        @media screen and (min-width: $break-lg) {
          position: absolute;
          background: #ffffff;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
          color: #007aff;
          padding: 10px 10px;
          top: 30px;
        }

        /* Submenu */
        .navigation_menu_submenu,
        .navigation_menu_submenu--double {
          width: 189px;
          height: auto;
          position: relative;
          flex: 1;
          @media screen and (max-width: $break-lg) {
            //background:red;
            //margin: 0;
            //padding: 0;
            width: 100%;
          }
          /* Mobile submenus */
          @media screen and (max-width: $break-lg) {
            //padding: 0 22px;
            //background: orange
          }

          /* Desktop submenus */
          @media screen and (min-width: $break-lg) {
            padding: 10px 10px;
            background-color: #f8f8f8;
            margin: 0 1px 0 0;
            float: left;
          }

          /* Menu Item */
          > li {
            //background: black;
            //min-height: 230px;
            //overflow: hidden;
            font-size: 0.938em;
            //line-height: 2.25em;

            line-height: 2.25em;
            //line-height: 1.95em;
            vertical-align: middle;
            font-weight: normal;
            a {
              /* Mobile links */
              @media screen and (max-width: $break-lg) {
                //background: pink;
                font-family: 'Open Sans', sans-serif;
                display: block;
                width: 100%;
                text-align: left;
                border-bottom: solid 1px #7a7a7a;
                padding: 16px 20px 17px;
                letter-spacing: -0.7px;
                color: #ffffff;
                &:hover {
                  text-decoration: none;
                }
              }
            }

            /* Menu Item Header */
            div:first-child {
              //margin: 0;
              //font-weight: bold;
              //font-size: 15px;
              //line-height: 2.07;
              //font-weight: normal;
            }
            /* Menu Item List */
            > ul {


              /* Mobile Menu Item List */
              @media screen and (max-width: $break-lg) {
                //margin: 16px 32px;
                width: 100%;
              }

              /* Desktop Menu Item List */
              @media screen and (min-width: $break-lg) {
                margin: 0 0 10px 20px;
                width: -webkit-calc(100% - 40px); // NB: We pad by 30px
                width: expression(100% - 40px);
                width: -moz-calc(100% - 40px);
                width: -o-calc(100% - 40px);
                width: calc(100% - 40px);
                font-size: 0.938em;
                line-height: 2.25em;
                //line-height: 1.95em;
                vertical-align: middle;
              }
              //background: orange;
              //height: 200px; /* Fix: We shouldn't have to define this */
              li {
                clear: both;
                //background: blue;
              }
            }
          }
        }
        .navigation_menu_submenu--double {
          @media screen and (min-width: $break-lg) {
            width: 289px;
          }
        }
      }
      .navigation__menu--double {
        @media screen and (min-width: $break-lg) {
          width: 600px;
        }
      }
    }
    .selected {
      //background: red;
      //@media screen and (max-width: $break-sm) {
      //  height: 56px;
      //}
      @media screen and (max-width: $break-lg) {
        background-color: #007aff;
      }
      @media screen and (min-width: $break-lg) {
        padding: 0 0 40px 0;
        border-bottom: solid 5px #ce0000;
      }
    }
  }

  /* Line */
  .line {
    display: block;
    height: 1px;
    background-color: #979797;
    width: 100%;
    clear: both;
    float: none;
    position: relative;
    bottom: 3px;
    z-index: 0;
  }

}
