/*** Sidebar ***/

/* Container */
#sidebar {
  border: solid 1px #979797;
  background-color: #f8f8f8;

  @media screen and (min-width: $break-md) {
    margin: 30px 0 0;
  }
  // margin-left: 0em; /* NB: Allow margin to come from Main Content */

  /* Content */
  #sidebar__content {
    padding: 0 20px;
    /* Section */
    .sidebar__content__section {
      margin-bottom: 20px;
      /* Header */
      .sidebar__section__header{
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #0b0c0c;
        display: block;
        padding: 18px 0 0 0;
        margin: 0;
        //height: 24px;
        //background: blue;
        background-color: #f8f8f8;
      }

      /* Buttons */
      .sidebar__section__buttons{
        width: 100%;
        //background: orange;
        height: 40px;
        #sidebar__button--bingo {
        }
        #sidebar__button--slots {
        }
        #sidebar__button--news {
        }
        #sidebar__button--help {
        }
        .selected {
          border-color: #ce0000;
          background-color: #ffffff;
        }
        .unselected {
          border-color: #d8d8d8;
          background-color: #d8d8d8;
          cursor: pointer;
        }
        ul {
          //background:green;
          width: 100%;
          li {
            list-style: none;
            //padding: 0 10px;
            float: left;
            width: 50%;
            height: 40px;
            position: relative;
            border-top: solid 3px #ce0000;
            span {
              font-family: 'Open Sans SemiBold', sans-serif;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              display: block;
              margin: 0 0 0 10px;
              @include centerer(false, true);
            }
          }
        }
      }
      /* Editor's Choice Sidebar */
      .sidebar__section__editors-choice{
        height: 640px; /* NB:  We set the exact height so that on change the div does not collapse */
        #sidebar__editors-choice--bingo {
          display: block;
        }
        #sidebar__editors-choice--slots {
          display: none;
        }
        //ol {}
        li {
          clear: both;
          //background: blue;
          background: #FFFFFF;
          height: 64px;
          border-bottom: 1px solid #979797;
          list-style: none;
          padding: 0 10px;
          .logo {
            float: left;
            margin: 10px 10px 10px 0;
            width: 44px;
            height: 44px;
            //background-color: #EEE;
            border-radius: 2px;
            img {
              display: block;
              width: 44px;
              height: 44px;
            }
          }
          .name {
            display: block;
            margin: 10px 10px 10px 0;
            //width: 144px;
            font-size: 16px;
            height: 44px;
            line-height: 44px;
            vertical-align: middle;
            float: left;
            //a {
            //  color: #0b0c0c;
            //  text-decoration: none;
            //}
            a {
              color: inherit
            }
            a:hover {
              color: inherit;
              text-decoration: none;
            }
          }
          .button {
            float: right;
            margin: 0;
            padding: 5px 0 0 0;
            position: relative;
            height: 54px;
            .button-play-now {
              //@include centerer(false, false);
              padding: 0 20px 4px;
              //padding-bottom: 4px; // Compensate - make play button bigger
              height: 44px;
              color: #ffffff;
            }
          }
        }
      }
      /* News & Help */
      .sidebar__section__news-and-help{
        //height: 480px; /* NB:  We set the exact height so that on change the div does not collapse */
        #sidebar__news-and-help--news {
          display: block;
        }
        #sidebar__news-and-help--help {
          display: none;
        }
        ol {
          //margin: 0 10px;
          padding: 0 0 30px;
          //height: 370px;
        }
        li {
          clear: both;
          background: #FFFFFF;
          //height: 104px;
          margin: 0;
          border-bottom: 1px solid #979797;
          list-style: none;
          //background: yellow;
          //height:80px;
          padding: 10px 10px;
          .date {
            display: block;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            vertical-align: middle;
            font-size: 16px;
            //line-height: 44px;
            letter-spacing: normal;
            margin: 0;
            //height: 44px;
            color: #6f777b;
            //background: pink
          }
          .title {
            display: block;
            //height: 26px;
            font-size: 19px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #007aff;
            margin: 0;
            padding: 10px 0;
            //background: red;
            a {
              color: #007aff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .button {
          clear: both;
          //float: right;
          //margin: 10px 0 10px 0;
          //padding: 0 0 80px 0;
          //background:blue;
          width: 100%;
          height: 80px;
          //width:  190px;
          position: relative;
          .button-play-now {
            @include centerer(true, false);
            padding: 0 20px;
            width: 249px;
            height: 44px;
            line-height: 44px;
            vertical-align: middle;
            color: #ffffff;
          }
        }
      }
    }
  }
}
