{% extends 'base.html.twig' %}
{% block page_main_content %}<header>
    <div class="admin-page">
    </div>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}