/*** Contact Page ***/
.contact-page {
  &__headline {
    margin: 51px 0 0;
    width: 100%;
    /* Mobile Header Padding */
    @media screen and (max-width: $break-md) {
      margin-left: 20px;
      margin-right: 20px;
      width: -webkit-calc(100% - 40px);
      width: expression(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: -o-calc(100% - 40px);
      width: calc(100% - 40px);
    }
    &__title {
      position: relative;
      font-size: 2.875em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
  }
}

#content #main #main__copy .article.article--contact-page {
  margin-top: 0;
}
.article--contact-page {
  p {
    margin: 17px 0 17px 0;
    font-size: 1.188em;
    color: #0b0c0c;
  }
  p:first-child {
    margin-bottom: 40px;
  }
  h2 {
    margin: 31px 0 0;
    height: auto;
    font-size: 2.063em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0c0c;
  }
}