{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    {# Logo #}
    {% if page.site.status == 'Closed' %}
        {% if page.modal is not null %}
            {% include '@widgets/inline-modal.html.twig' with { 'modal' : page.modal, 'site': page.site, 'amp': amp } only %}
        {% endif %}
    {% endif %}
    <section role="region" aria-label="{{ page.site.name }}">
        {% include '@widgets/poster.html.twig' with { 'site': page.site, 'amp': amp } only %}
    </section>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.review.title }}">
            <div class="article site-review">
                {# Header #}
                <header>
                    <h2 class="site-review__header">{{ page.review.title }}</h2>
                </header>
                {# Introduction #}
                {% if page.review.introduction %}
                    <div class="site-review__introduction">
                        {{ page.review.introduction|raw }}
                    </div>
                {% endif %}
                {# Review Contents #}
                {% if page.review.hasContents %}
                    <h3 class="site-review__header-2">Review contents</h3>
                    <ol class="site-review__review-contents">
                        <li>
                            <a href="#reviewWelcomeOffer">Welcome Offer</a>
                        </li>
                        <li>
                            <a href="#reviewPromotions">Promotions</a>
                        </li>
                        <li>
                            <a href="#reviewGames">Games</a>
                        </li>
                        <li>
                            <a href="#reviewFinalThoughts">Our Final Thoughts</a>
                        </li>
                        <li>
                            <a href="#reviewKeyDetails">Important Info</a>
                        </li>
                    </ol>
                {% endif %}
                {# Welcome Offer #}
                {% if page.review.welcomeOffer %}
                    <h4 class="site-review__header-3"><a name="reviewWelcomeOffer">Welcome Offer</a></h4>
                    <div class="site-review__welcome-offer">
                        {{ page.review.welcomeOffer|raw }}
                    </div>
                {% endif %}
                {# Promotions #}
                {% if page.review.promotions %}
                    <h4 class="site-review__header-3"><a name="reviewPromotions">Promotions</a></h4>
                    <div class="site-review__promotions">
                        {{ page.review.promotions|raw }}
                    </div>
                {% endif %}
                {# Games #}
                {% if page.review.games %}
                    <h4 class="site-review__header-3"><a name="reviewGames">Games</a></h4>
                    <div class="site-review__games">
                        {{ page.review.games|raw }}
                    </div>
                {% endif %}
                {# Final Thoughts #}
                {% if page.review.finalThoughts %}
                    <h4 class="site-review__header-3"><a name="reviewFinalThoughts">Our final thoughts</a></h4>
                    <div class="site-review__final-thoughts">
                        {{ page.review.finalThoughts|raw }}
                    </div>
                {% endif %}
                {# Key Details #}
                {% if page.keyDetails.hasDetails %}
                    <h4 class="site-review__header-3"><a name="reviewKeyDetails">Key details</a></h4>
                    <div class="site-review__key-details">
                        <table class="table table-light table-striped site-review__key-details__table">
                            <tbody>
                            <tr class="stripe">
                                <td><strong>No deposit offer</strong></td>
                                <td>{{ page.keyDetails.noDepositOffer|raw }}</td>
                            </tr>
                            <tr>
                                <td><strong>Welcome bonus</strong></td>
                                <td>{{ page.keyDetails.noDepositOffer|raw }}</td>
                            </tr>
                            <tr class="stripe">
                                <td><strong>Redeposit bonus</strong></td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td><strong>Minimum deposit</strong></td>
                                <td>{{ page.keyDetails.minimumDeposit|raw }}</td>
                            </tr>
                            <tr class="stripe">
                                <td><strong>Minimum withdrawal</strong></td>
                                <td>{{ page.keyDetails.minimumWithdrawal|raw }}</td>
                            </tr>
                            <tr>
                                <td><strong>Free bingo</strong></td>
                                <td>{{ page.keyDetails.freeBingo|raw }}</td>
                            </tr>
                            <tr class="stripe">
                                <td><strong>Bingo software</strong></td>
                                <td>{{ page.keyDetails.software|raw }}</td>
                            </tr>
                            <tr>
                                <td><strong>Established</strong></td>
                                <td>{{ page.keyDetails.established|raw }}</td>
                            </tr>
                            <tr class="stripe">
                                <td><strong>Deposit methods</strong></td>
                                <td>{{ page.keyDetails.depositMethods|join(', ')|raw }}</td>
                            </tr>
                            <tr>
                                <td><strong>Email address</strong></td>
                                <td>{{ page.keyDetails.emailAddress|raw }}</td>
                            </tr>
                            <tr class="stripe">
                                <td><strong>Phone number</strong></td>
                                <td>{{ page.keyDetails.phoneNumber|raw }}</td>
                            </tr>
                            <tr>
                                <td><strong>UK Gambling Commission</strong></td>
                                <td><a target="_blank" rel="nofollow noopener noreferrer" href="https://secure.gamblingcommission.gov.uk/PublicRegister/Search/Detail/{{ page.keyDetails.licenseNumber|raw }}">License {{ page.keyDetails.licenseNumber|raw }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if page.review.date %}
                    <p class="site-review__date">
                        Review by OhMyBingo on {{ page.review.date }}
                    </p>
                {% endif %}
            </div>
        </article>
    </section>
    <section>
        <div class="comments">
            {# Leave a Comment #}
            <div class="comments__leave-a-comment">
                <p class="comments__leave-a-comment__title">Leave a comment</p>
                <form id="comments__form" class="comments__form" role="search" autocomplete="off" method="post" action="" data-site-id="{{ page.site.id }}">
                    <label for="comment">Comment:</label>
                    <textarea rows="4" id="comment-message" class="comments__form__input_message" name="message" placeholder="Comment"></textarea>
                    <span id="comment-message__validation" class="comments__validation"></span>
                    <label for="comment">Name:</label>
                    <input type="text" id="comment-name" name="name" class="comments__form__input_name" placeholder="Name" />
                    <span id="comment-name__validation" class="comments__validation"></span>
                    {# Google Captcha--- #}
                    <button id="comment-button-submit" class="comments__form__button-submit">
                        Submit comment
                    </button>
                </form>
                <div id="comments__response"></div>
            </div>
            {# Comments #}
            {% if page.comments.get|length > 0 %}
            <div class="comments__view">
                <p class="comments__view__title">Comments ({{ page.comments.get|length }})</p>
                <div class="comments__view__comments">
                    {% for comment in page.comments.get %}
                        <div class="comments__comment">
                            <div class="comments__comment__details">
                                <span class="comments__comment__name">{{ comment.name }}</span>
                                <span class="comments__comment__time">{{ comment.time }}</span>
                            </div>
                            <div class="comments__comment__message">
                                {{ comment.message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
{# JS #}
{% block page_javascripts %}
    {{ encore_entry_script_tags('page-site-review-entry') }}
    {% if page.review.richSnippet is defined %}
        <script type="application/ld+json">
            {{ page.review.richSnippet|raw }}
        </script>
    {% endif %}
{% endblock %}
