{% extends 'base.html.twig' %}
{# Main Widget #}
{% block page_main_widget %}
    {# Header #}
    <header>
        <div class="news-article-page__headline">
            <h1 class="news-article-page__headline__title">{{ page.newsArticle.title }}</h1>
            <span class="news-article-page__headline__date">{{ page.newsArticle.date }}</span>
            {# Logo #}
            {% if page.newsArticle.site %}
                <div class="news-article-page__site">
                    <a href="/{{ page.newsArticle.site.slug|e('html_attr') }}">
                        {% include '@micro/img.html.twig' with { 'img_src': asset(page.newsArticle.site.logo['1x']), 'img_width': 255, 'img_height': 131, 'img_alt': page.newsArticle.site.name|e('html_attr'), 'img_srcset':  asset(page.newsArticle.site.logo['2x']) ~ " 2x, " ~ asset(page.newsArticle.site.logo['3x']) ~ " 3x," ~ asset(page.newsArticle.site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'fixed-height', 'amp': amp } only %}
                    </a>
                </div>
            {% endif %}
        </div>
    </header>
{% endblock %}
{# Main Content #}
{% block page_main_content %}
    <section>
        <article role="region" aria-label="{{ page.newsArticle.title }}">
            <div class="article article--news-article-page">
                {{ page.newsArticle.copy|raw }}
            </div>
            <div class="news-article-copyright">
                <p>This news story is property of OhMyBingo.com. Please do not reproduce without permission of the owners.</p>
            </div>
        </article>
    </section>
{% endblock %}
{# Notification Bell #}
{% block page_notification_bell %}
    {% include 'components/widgets/notification-bell.html.twig' with { 'notifications': notifications } only %}
{% endblock %}
{# JS #}
{% block page_javascripts %}
    {% if page.newsArticle.richSnippet is defined %}
        <script type="application/ld+json">
            {{ page.newsArticle.richSnippet|raw }}
        </script>
    {% endif %}
{% endblock %}