/*** Buttons ***/

/* Play Now */
.button-play-now-with-arrow {
  //@include centerer(true, false);
  //width: 169px;
  text-align: left;
  text-decoration: none;
  height: 44px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #007aff;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 23px;
  line-height: 44px;
  padding: 0 44px 0 20px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  position: relative;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2173e2;
  }
  object {
    width: 17px;
    height: 19px;
    pointer-events: none;
    position: absolute;
    top: 12px;
    right: 15px;
  }
}


/* Play Now */
.button-play-now {
  //@include centerer(true, false);
  //width: 169px;
  text-align: center;
  text-decoration: none;
  height: 44px;
  //padding: 0 20px;
  padding: 6px 35px;
  border-radius: 3px;
  background-color: #007aff;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2173e2;
  }
}


// Close
.close {
  position: absolute;
  right: 39px;
  top: 39px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #d8d8d8;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* Go§ */
.button-go {
  text-align: center;
  text-decoration: none;
  height: 44px;
  //padding: 0 20px;
  padding: 6px 35px;
  border-radius: 3px;
  background-color: #007aff;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2173e2;
  }
}


/* Cancel */
.button-cancel {
  //@include centerer(true, false);
  //width: 169px;
  text-align: center;
  text-decoration: none;
  height: 44px;
  width: auto;
  //padding: 0 20px;
  //padding: 6px 35px;
  padding: 0 33px;
  border-radius: 3px;
  border: 1px solid #007aff;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 44px;
  font-weight: bold;
  color: #007aff;
  display: inline-block;
  cursor: pointer;
  position: relative;
  &:hover {
    color: #007aff;
    text-decoration: none;
    background-color: #ffffff;
  }
}