
/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
}
ol,
ul{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  margin: 0;
  padding: 0;
}

/* Page */
#page {
}
