/* Content */

// Asset: Image
.content-asset--image {
  width: auto;
  height: auto;
  max-width: 100%;
}

// List
.content-list {
  margin-top: 30px;
  padding-bottom: 100px;
  line-height: 1em;
  li {
    margin-top: 20px;
    p{
      line-height: 1em;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
