/*** Typography ***/

/* H1 */
h1 {
  font-family: 'Open Sans', sans-serif;
  height: 48px;
  font-size: 46px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: #0b0c0c;
  //margin: 0;
  //padding: 0;
}
/* H2 */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0c0c;
  margin: 0 0 0.625em 0;
  padding: 0;
}
/* P */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0b0c0c;
}
