/*** Utils ***/

/* Hidden */
.hidden  {
  display:none;
}

/* No Text Selection */
//.noselect {
//  -webkit-touch-callout: none; /* iOS Safari */
//  -webkit-user-select: none; /* Safari */
//  -khtml-user-select: none; /* Konqueror HTML */
//  -moz-user-select: none; /* Firefox */
//  -ms-user-select: none; /* Internet Explorer/Edge */
//  user-select: none; /* Non-prefixed version, currently
//                                  supported by Chrome and Opera */
//}
