/*** Sites Page (Index) ***/
.site-page {
  &__headline {
    margin: 30px 0 0;
    width: 100%;
    /* Mobile Header Padding */
    @media screen and (max-width: $break-md) {
      margin-left: 20px;
      margin-right: 20px;
    }
    &__title {
      position: relative;
      font-family: 'Open Sans Bold', sans-serif;
      font-size: 2.875em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
  }
}
.article--site-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
  padding-bottom: 20px;
}

/*** Site Review ***/
.site-review {
  &__header {
    font-size: 2.063em;
    font-weight: bold;
    color: #0b0c0c;
  }
  &__introduction {
    margin-top: 29px;
    font-size: 1.500em;
    line-height: 1.42;
    color: #0b0c0c;
  }
  &__header-2 {
    margin-top: 40px;
    font-size: 1.375em;
    font-weight: bold;
    color: #0b0c0c;
  }
  &__review-contents {
    margin-top: 20px;
    line-height: 1.42;
    color: #0b0c0c;
    a {
      font-size: 1.188em;
      text-decoration: underline;
      color: #007aff;
    }
  }
  &__header-3 {
    margin-top: 40px;
    font-size: 1.125em;
    font-weight: bold;
    color: #0b0c0c;
  }
  &__welcome-offer {
    margin-top: 12px;
    font-size: 1.188em;
    line-height: 1.42;
    color: #0b0c0c;
  }
  &__promotions {
    margin-top: 12px;
    font-size: 1.188em;
    line-height: 1.42;
    color: #0b0c0c;
  }
  &__games {
    margin-top: 12px;
    font-size: 1.188em;
    line-height: 1.42;
    color: #0b0c0c;
  }
  &__final-thoughts {
    margin-top: 12px;
    font-size: 1.188em;
    line-height: 1.42;
    color: #0b0c0c;
  }
  &__key-details {
    margin-top: 20px;
    font-size: 1.188em;
    color: #0b0c0c;
    &__table {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.188em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      a {
        color: #007aff;
        text-decoration: underline;
      }
      tr{
        td:first-child  {
          width: 330px;
        }
      }
      tr.stripe {
        td {
          background-color: #f8f8f8;
          border: solid 1px #979797;
        }
      }
      tr {
        td {
          background-color: #ffffff;
          border: solid 1px #979797;
        }
      }
    }
  }
  &__date {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0c0c;
    margin: 50px 0 0 0;
  }
}

/* Comments */
.comments {

  #comments__response {
    display: none;
    padding: 20px 0 50px;
    strong {
      color: #CE0000;
    }
  }
  // Leave a comment
  &__leave-a-comment {
    margin: 50px 0 0 0;
    padding: 50px 0 0 4px;  //padding for glow
    border-top: 1px solid #979797;
    &__title {
      width: 100%;
      //height: 26px;
      font-size: 1.188em;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0b0c0c;
    }
    .comments__form {
      label {
        display: none;
      }
      input,
      textarea
      {
        width: 232px;
        font-size: 1em;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.54);
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.06);
        margin-top: 40px;
        padding: 0 16px;
        &:first-child {
          margin-top: 0
        }
      }
      textarea {
        padding-top: 16px;
        line-height: 1.8em;
        height: auto;
      }
      textarea.comments__form__input_message {
        display: block;
        width: 520px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.06);
      }
      input.comments__form__input_name {
        display: block;
        width: 232px;
        height: 56px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.06);
      }
      .comments__validation {
        display: none;//inline-block;
        font-size: 0.8em;
        color: #D8000C;
        background-color: #FFBABA;
        padding: 8px 8px 6px;
        margin: 10px 0 0;
        width: auto;
        border-radius: 5px;
      }
      //input:focus {
      //}
      &__button-submit {
        clear: both;
        display: block;
        //width: 224px;
        //width: 204px;
        //font-size: 1.438em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        height: 44px;
        padding: 0 20px;
        border-radius: 2px;
        background-color: #007aff;
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
        line-height: 44px;
        border: none;
        margin: 40px 0 0 0; // 2px margin for glow
        &:hover {
          color: #ffffff;
          text-decoration: none;
          background-color: #2173e2;
        }
      }
    }
  }
  // View
  &__view {
    margin: 50px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #979797;
    height: auto;
    //min-height: 1000px;
    &__title {
      float: left;
      width: 150px;
      //height: 26px;
      font-size: 1.188em;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0b0c0c;
    }
    &__comments {
      float: left;
      width: -webkit-calc(100% - 150px);
      width: expression(100% - 150px);
      width: -moz-calc(100% - 150px);
      width: -o-calc(100% - 150px);
      width: calc(100% - 150px);
      //height: 600px;
      padding-left: 40px;
      .comments__comment {
        width: 100%;
        padding: 13px 0 25px 0;
        border-bottom: 1px solid #979797;
        &:first-child {
          padding-top: 2px;
        }
        &:last-child {
          border-bottom: none;
        }
        //height: 100px;
        &__details {
          padding-bottom: 8px;
          .comments__comment__name {
            display: inline-block;
            font-size: 1.1888em;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ce0000;
          }
          .comments__comment__time {
            display: inline-block;
            font-size: 1em;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8b8b8b;
          }
        }
        .message {
          width: 100%;
          font-size: 1.1888em;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #0b0c0c;
        }
      }
    }
  }
}
