<div id="logo--mobile">
    <a href="{{ path('home') }}">
        {% include '@micro/img.html.twig' with { 'img_src': asset('img/logo/logo.mobile.png'), 'img_width': 190, 'img_height': 42, 'img_alt': app.name, 'img_srcset':  asset('img/logo/logo.mobile@2x.png') ~ " 2x, " ~ asset('img/logo/logo.mobile@3x.png') ~ " 3x", 'img_layout': 'responsive', 'amp': amp } only %}
        {#<img alt="{{ app.name }}" src="{{ asset('img/logo/logo.mobile.png') }}" srcset="{{ asset('img/logo/logo.mobile@2x.png') }} 2x, {{ asset('img/logo/logo.mobile@3x.png') }} 3x">#}
    </a>
</div>
