<div id="search-bar--mobile">
    {% if amp %}
        {% set formTag = 'amp-form' %}
    {% else %}
        {% set formTag = 'form' %}
    {% endif %}
    <{{ formTag }} id="search__form--mobile" role="search" autocomplete="off" method="get" action="{{ path('search') }}">
        <input autocomplete="false" name="s" type="text" class="hidden">
        <label for="q">Search site:</label>
        <div class="search__form__autocomplete">
            <input id="search__form__query--mobile"  type="search" name="q" placeholder="Search OhMyBingo" spellcheck="false" aria-label="Search site content">
        </div>
    </{{ formTag }}>
</div>
