{# Sidebar: Editors Choice #}
<aside role="complementary">
    <div id="sidebar">
        <div id="sidebar__content">
            {# Editor's Choice #}
            <div class="sidebar__content__section" role="navigation" aria-label="Editor's Choice">
                <h4 class="sidebar__section__header">Editor's choice</h4>
                <div class="sidebar__section__buttons">
                    <ul>
                        <li id="sidebar__button--bingo" class="selected"><span>Bingo</span></li>
                        <li id="sidebar__button--slots" class="unselected"><span>Slots</span></li>
                    </ul>
                </div>
                <div class="sidebar__section__editors-choice">
                    <ol id="sidebar__editors-choice--bingo">
                        {% for site in page.getComponent('editorsChoiceBingo').sites %}
                            <li>
                                {# Logo #}
                                {# title="{{ site.name|e('html_attr') }}" #}
                                <a href="{{ site.slug|e('html_attr') }}" title="{{ site.name|e('html_attr') }}">
                                    {% include '@micro/img.html.twig' with { 'img_src': asset(site.logo['1x']), 'img_width': 44, 'img_height': 44, 'img_alt': site.name|e('html_attr'), 'img_srcset':  asset(site.logo['2x']) ~ " 2x, " ~ asset(site.logo['3x']) ~ " 3x," ~ asset(site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'flex-item', 'amp': amp } only %}
                                </a>
                                {# Name #}
                                <p class="name">
                                    <a href="{{ site.slug|e('html_attr') }}">
                                        {{ site.name|length > 14 ? site.name|slice(0, 14) ~ '...' : site.name  }}
                                    </a>
                                </p>
                                {# Button #}
                                <div class="button">
                                    <a target="_blank" class="button-play-now" rel="nofollow noopener" href="{{ playService.getLink('editors-bingo', site.slug ) }}">
                                        {{ page.getComponent('editorsChoiceBingo').playButtonText }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                    <ol id="sidebar__editors-choice--slots">
                        {% for site in page.getComponent('editorsChoiceSlots').sites %}
                            <li>
                                {# Logo #}
                                <a href="{{ site.slug|e('html_attr') }}" title="{{ site.name|e('html_attr') }}">
                                    {% include '@micro/img.html.twig' with { 'img_src': asset(site.logo['1x']), 'img_width': 44, 'img_height': 44, 'img_alt': site.name|e('html_attr'), 'img_srcset':  asset(site.logo['2x']) ~ " 2x, " ~ asset(site.logo['3x']) ~ " 3x," ~ asset(site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'fixed', 'amp': amp } only %}
                                </a>
                                {# Name #}
                                <p class="name">
                                    <a href="{{ site.slug|e('html_attr') }}">
                                        {{ site.name|length > 14 ? site.name|slice(0, 14) ~ '...' : site.name  }}
                                    </a>
                                </p>
                                {# Button #}
                                <div class="button">
                                    <a target="_blank" class="button-play-now" rel="nofollow noopener" href="{{ playService.getLink('editors-slots', site.slug) }}">
                                        {{ page.getComponent('editorsChoiceSlots').playButtonText }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {# News & Help #}
            <div class="sidebar__content__section" role="navigation" aria-label="News & Help">
                <div class="sidebar__section__buttons">
                    <ul>
                        <li id="sidebar__button--news" class="selected"><span>News</span></li>
                        <li id="sidebar__button--help" class="unselected"><span>Articles</span></li>
                    </ul>
                </div>
                <div class="sidebar__section__news-and-help">
                    {# News #}
                    <div id="sidebar__news-and-help--news">
                        <ol>
                            {% for newsArticle in page.getComponent('editorsChoiceNews').newsArticles %}
                                <li>
                                    {# Date #}
                                    <p class="date">
                                        {{ newsArticle.date|e('html') }}
                                    </p>
                                    {# Title #}
                                    <p class="title">
                                        <a class href="{{ path('news') }}/{{ newsArticle.slug|e('html_attr') }}">{{ newsArticle.title|e('html') }}</a>
                                    </p>
                                </li>
                            {% endfor %}
                        </ol>
                        {# Button #}
                        <div class="button">
                            <a class="button-play-now" href="{{ path('news') }}">{{ page.getComponent('editorsChoiceNews').viewAllButtonText }}</a>
                        </div>
                    </div>
                    {# Articles #}
                    <div id="sidebar__news-and-help--help">
                        <ol>
                            {% for article in page.getComponent('editorsChoiceArticles').articles %}
                                <li>
                                    {# Title #}
                                    <p class="title">
                                        <a class href="{{ path('articles') }}/{{ article.slug|e('html_attr') }}">{{ article.title|e('html') }}</a>
                                    </p>
                                </li>
                            {% endfor %}
                        </ol>
                        {# Button #}
                        <div class="button">
                            <a class="button-play-now" href="{{ path('articles') }}">{{ page.getComponent('editorsChoiceArticles').viewAllButtonText }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>