<footer role="contentinfo">
    <div id="footer">
        <div class="container">
            <div class="footer__main">
                <div class="footer__main__links">
                    {% include '@footer/partials/links.html.twig' with { 'page': page } %}
                </div>
                <div class="footer__main__license">
                    {% include '@footer/partials/license.html.twig' %}
                </div>
            </div>
            <div class="footer__copyright">
                {% include '@footer/partials/copyright.html.twig' with { 'year': year } only %}
            </div>
            {% if notifications %}
                {% include '@widgets/notification-bell.html.twig' with { 'notifications': notifications, 'amp': amp } only %}
            {% endif %}
        </div>
    </div>
</footer>
