<div id="article-listings">
    {% for article in articleListings %}
        <div class="article-listing">
            {# Info #}
            <div class="article-listing__info">
                <h2 class="article-listing__info__title">
                    <a href="{{ path('articles') }}/{{ article.slug|e('html_attr') }}">
                        {{ article.title }}
                    </a>
                </h2>
                <p class="article-listing__info__description">{{ article.title|raw }}</p>
            </div>
        </div>
    {% endfor %}
</div>
