{# Modal #}
<div class="modal modal--inline" id="modal-site-closed">
    <div class="modal__content">
        <div class="modal__content__copy">
            {#{{ modal.copy|raw }}#}
            Unfortunately {{ site.name }} has closed. Why not try one of these great sites instead.
        </div>
        <div class="modal__content__sites">
            {% if modal.sites is defined %}
                {% for site in modal.sites %}
                    <div class="modal__sites__site">
                        <div class="modal__sites__site__header">
                            {{ site.name }}
                        </div>
                        <div class="modal__sites__site__content">
                            <div class="modal__site__logo">
                                <a href="{{ site.slug|e('html_attr') }}">
                                    <img alt="{{ site.name|e('html_attr') }}" src="{{ asset(site.logo['1x']) }}" srcset="{{ asset(site.logo['2x']) }} 2x, {{ asset(site.logo['3x']) }} 3x, {{ asset(site.logo['4x']) }} 4x">
                                </a>
                            </div>
                            <div class="modal__site__info">
                                <p class="modal__site__info__welcome-offer">
                                    {{ site.welcomeOfferLine1|raw }}
                                </p>
                                <div class="modal__site__info__rating">
                                    <div class="modal__site__info__rating--stars">
                                        {% set checked = site.rating %}
                                        {% set unchecked = (5 - site.rating) %}
                                        {% for i in 1..checked %}
                                            <object data="{{ asset('img/icons/star--checked.svg') }}" type="image/svg+xml"></object>
                                        {% endfor %}
                                        {% if unchecked != 0 %}
                                            {% for i in 1..unchecked %}
                                                <object data="{{ asset('img/icons/star.svg') }}" type="image/svg+xml"></object>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <p class="modal__site__info__rating--summary">
                                        {{ site.rating }} out of 5
                                    </p>
                                </div>
                            </div>
                            <div class="modal__site__action">
                                <div class="modal__site__action__play">
                                    <div class="modal__action__play-button">
                                        <a class="button-play-now-with-arrow" target="_blank" href="{{ playService.getLink('siteModal', site.slug) }}" rel="nofollow noopener">
                                            {{ modal.playButton.title|raw }}
                                            <object data="{{ asset('img/buttons/play-now-with-arrow.svg') }}" type="image/svg+xml">
                                                <span>{{ modal.playButton.title|raw }}</span>
                                            </object>
                                        </a>
                                    </div>
                                </div>
                                <a class="modal__site__action__review-link" href="/{{ site.slug|e('html_attr') }}">
                                    Read review
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="modal__content__terms">
            <p>18+. T&Cs apply. New customers only. Wagering requirements and full T&Cs apply.</p>
        </div>
        <div class="modal__content__action">
            {% if modal.cancelButton %}
                <div class="modal__action__cancel">
                    <div class="modal__action__cancel__button">
                        <a class="button-cancel" target="_blank" href="/">
                            {{ modal.cancelButton.title|raw }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if modal.goButton is defined %}
                <div class="modal__action__go">
                    <div class="modal__action__go__button">
                        <a class="button-go" target="_blank" href="/#" rel="nofollow noopener">
                            {{ modal.goButton.title|raw }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>