{% if contentPreview is defined %}
    {% include 'document/stylesheets/default.html.twig' %}
{% endif %}
<aside>
    <div id="leaderboard" class="container">
        <div class="row">
            <h1 class="leaderboard__header">{{ leaderBoard.title }}</h1>
            <ul class="leaderboard__content">
                {% for leader in leaderBoard.leaders %}
                    <li class="leaderboard__item {{ leader.slug }}">
                        <div class="leaderboard__item__type {{ leader.type|lower|e('html_attr') }}">{{ leader.award|e('html') }}</div>
                        <div class="leaderboard__item__content">
                            <div class="leaderboard__logo">
                                <a href="{{ leader.slug|e('html_attr') }}">
                                    {% include '@micro/img.html.twig' with { 'img_src': asset(leader.logo['1x']), 'img_width': 224, 'img_height': 170, 'img_alt': leader.name|e('html_attr'), 'img_srcset':  asset(leader.logo['2x']) ~ " 2x, " ~ asset(leader.logo['3x']) ~ " 3x," ~ asset(leader.logo['4x']) ~ " 4x", 'img_layout': 'fixed', 'amp': amp } only %}
                                </a>
                            </div>
                            <div class="leaderboard__details">
                                <p class="leaderboard__details__name">
                                    <a href="{{ leader.slug|e('html_attr') }}">
                                        {{ leader.name|e('html') }}
                                    </a>
                                </p>
                                <p class="leaderboard__details__copy">{{ leader.copy|e('html') }}</p>
                            </div>
                            <div class="leaderboard__button">
                                <a class="button-play-now-with-arrow" target="_blank" href="{{ playService.getLink('leaderBoard', leader.slug) }}" rel="nofollow noopener">
                                    {{ leader.playButtonText|raw }}
                                    <object data="{{ asset('img/buttons/play-now-with-arrow.svg') }}" type="image/svg+xml">
                                        <span>{{ leader.playButtonText|raw }}</span>
                                    </object>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>