<div
        id="listings"
        class="listings"
        data-pagination-total-pages="{{ siteListings.pagination.totalPages }}"
        data-pagination-current-page="{{ siteListings.pagination.currentPage }}"
        data-pagination-next-page="{{ siteListings.pagination.nextPage }}"
    >
    {% include '@widgets/listings.page.html.twig' with { 'siteListings': siteListings, 'path': path, 'page': page, 'amp': amp } only %}
</div>
<div id="listings-pagination" class="listings__pagination">
    <div id="listings-pagination-loader" class="listings__pagination__loader">
        <span id="listings-pagination-loader-icon" class="listings__pagination__loader__icon"></span>
    </div>
</div>
{% if page.modal is not null %}
    {% include '@widgets/modal.html.twig' with { 'modal' : page.modal } only %}
{% endif %}



