{% for site in siteListings.pagination.items %}
    {% if ((site.affiliateLink is not empty) and (site.welcomeOfferLine1 is not empty) and (site.status != 'Closed') and (site.status != 'Coming Soon')) or (get_twig_env('TEST_COMPONENT_MODAL_SITE') == 1) %}
        {% set canPlay = true %}
    {% else %}
        {% set canPlay = false %}
    {% endif %}
    {% if (canPlay) and (site.termsAndConditionsUrl is not empty) %}
        {% set hasTermsAndConditionsUrl = true %}
    {% else %}
        {% set hasTermsAndConditionsUrl = false %}
    {% endif %}

    {#  or (site.recommended is defined and site.recommended == true) #}
    {% if (site.featured is defined and site.featured == true)
        or (get_twig_env('TEST_COMPONENT_SITE_LISTING_FEATURED_SITE') == 1) %}
        {% set isFeatured = true %}
        {% set listingClass = 'listing--featured-site' %}
    {% else %}
        {% set isFeatured = false %}
        {% set listingClass = 'listing--site' %}
    {% endif %}
    <div
            class="listing {{ listingClass }}"
        >
        {# Image #}
        <div class="listing__logo">
            {% if (canPlay == true) %}
                <a target="_blank" rel="nofollow noopener" href="{{ playService.getLink( 'offers', site.slug ) }}" title="{{ site.name|e('html_attr') }}">
            {% endif %}
                {% include '@micro/img.html.twig' with { 'img_src': site.logo['1x'], 'img_width': 137, 'img_height': 137, 'img_alt': site.name|e('html_attr'), 'img_srcset':  asset(site.logo['2x']) ~ " 2x, " ~ asset(site.logo['3x']) ~ " 3x," ~ asset(site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'flex-item', 'amp': amp } only %}
            {% if (site.affiliateLink is not empty) %}
                </a>
            {% endif %}
        </div>
        {# Info #}
        <div class="listing__info">
            <h2 class="listing__info__title">
                <a href="/{{ site.slug|e('html_attr') }}">
                    {{ site.name }}
                </a>
            </h2>
            <p class="listing__info__offer-line-1">{{ site.welcomeOfferLine1|raw }}</p>
            <p class="listing__info__offer-line-2">{{ site.welcomeOfferLine2|raw }}</p>
        </div>
        {# Action #}
        <div class="listing__action">
            {% if (isFeatured == 1) %}
                <div class="listing__action__featured-site">
                    <div class="listing__action__featured-site-icon">
                        <object data="{{ asset('img/icons/featured-site.svg') }}" type="image/svg+xml"></object>
                    </div>
                    <div class="listing__action__featured-site-title">
                        Featured Site
                    </div>
                </div>
            {% endif %}
            {% if site.label %}
                <span class="listing__action__label">{{ site.label }}</span>
            {% endif %}
            <div class="listing__action__play-button">
                {% if (canPlay == false) %}
                    {% set buttonClass = 'button-play-now-with-arrow modal__button' %}
                    {% set dataAttributes = 'data-toggle="modal" data-target="#modal-site-collection"' %}
                    {#{% set onClick = '' %}#}
                {% else %}
                    {% set buttonClass = 'button-play-now-with-arrow' %}
                    {% set dataAttributes = '' %}
                    {#{% set onClick = ' onclick="return false;"' %}#}
                {% endif %}
                <a target="_blank" class="{{ buttonClass }}" {{ dataAttributes }} rel="nofollow noopener" href="{{ playService.getLink( 'offers', site.slug ) }}">
                    Play Now
                    <object data="{{ asset('img/buttons/play-now-with-arrow.svg') }}" type="image/svg+xml">
                        <span>Play Now</span>
                    </object>
                </a>
            </div>
            <a class="listing__action__review-link" href="/{{ site.slug|e('html_attr') }}">
                Read review
            </a>
        </div>
        {% if (canPlay) %}
            <p class="listing__terms">
                {% if (hasTermsAndConditionsUrl) %}
                    {{ site.termsAndConditions|e('html') }}
                {% else %}
                    <a class="listing__terms__link" target="_blank" rel="nofollow noopener" href="{{ termsAndConditionsService.getLink( 'offers', site.slug )|e('html_attr') }}">
                        {{ site.termsAndConditions|e('html') }}
                    </a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endfor %}