<div id="news-listings">
    {% for newsArticle in newsListings %}
        <div class="news-listing">
            {# Info #}
            <div class="news-listing__info">
                <h2 class="news-listing__info__title">
                    <a href="{{ path('news') }}/{{ newsArticle.slug|e('html_attr') }}" title="{{ newsArticle.title|e('html_attr') }}">
                        {{ newsArticle.title|e('html') }}
                    </a>
                </h2>
                <p class="news-listing__info__description">{{ newsArticle.shortDescription|raw }}</p>
            </div>
        </div>
    {% endfor %}
</div>
