<div id="notification-bell">
    <div class="notification-bell__container">
        {# Counter #}
        <span class="notification-bell__counter">{{ notifications.sites|length }}</span>
        {# Bell #}
        <i id="notification-bell__icon" class="notification-bell__icon far fa-bell faa-tada animated"></i>
    </div>
    {# Drop Down #}
    <div class="notification-bell__popup">
        {% for site in notifications.sites %}
            <li class="notification-bell__popup__item">
                <div class="notification-bell__item__name">
                    <a href="/{{ site.slug }}">
                        {{ site.name|e('html') }}
                    </a>
                </div>
                <div class="notification-bell__item__details">
                    <span class="notification-bell__details__logo">
                        <a target="_blank" rel="nofollow noopener" href="{{ playService.getLink( 'offer', site.slug ) }}" title="{{ site.name|e('html_attr') }}">
                            {% include '@micro/img.html.twig' with { 'img_src': site.logo['1x'], 'img_width': 60, 'img_height': 60, 'img_alt': site.name|e('html_attr'), 'img_srcset':  asset(site.logo['2x']) ~ " 2x, " ~ asset(site.logo['3x']) ~ " 3x," ~ asset(site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'fixed', 'amp': amp } only %}
                        </a>
                    </span>
                    <p class="notification-bell__details__message">{{ site.welcomeOfferLine1|raw }}</p>
                    <div class="notification-bell__details__button">
                        <a class="button-play-now-with-arrow" target="_blank" rel="nofollow noopener" href="{{ playService.getLink( 'offer', site.slug ) }}">
                            Play Now
                            <object data="{{ asset('img/buttons/play-now-with-arrow.svg') }}" type="image/svg+xml">
                                <span>Play Now</span>
                            </object>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        <div class="notification-bell__popup__terms">
            <p>{{ notifications.termsAndConditions }}</p>
        </div>
    </div>
</div>
