<aside>
    <div id="poster" class="container">
        <div class="row">
            <div class="poster__content">
                <h1 class="poster__header">{{ site.name }}</h1>
                <div class="poster__details">
                    {# Left #}
                    <div class="poster__details--left">
                        {% if site.rating %}
                            <div class="poster__details__rating">
                                <div class="rating-stars">
                                    {% set checked = site.rating %}
                                    {% set unchecked = (5 - site.rating) %}
                                    {% for i in 1..checked %}
                                        <object data="{{ asset('img/icons/star--checked.svg') }}" type="image/svg+xml"></object>
                                    {% endfor %}
                                    {% if unchecked != 0 %}
                                        {% for i in 1..unchecked %}
                                            <object data="{{ asset('img/icons/star.svg') }}" type="image/svg+xml"></object>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="rating-count">
                                    <span>{{ site.rating }}</span> out of 5
                                </div>
                            </div>
                        {% endif %}
                        <div class="poster__details__logo">
                            {% if site.status != 'Closed' and (site.affiliateLink is not empty) and (site.welcomeOfferLine1 is not empty) %}
                                <a target="_blank" rel="nofollow noopener" href="{{ site.affiliateLink|e('html_attr') }}">
                            {% endif %}
                                {% include '@micro/img.html.twig' with { 'img_src': site.logo['1x'], 'img_width': 255, 'img_height': 131, 'img_alt': site.name|e('html_attr'), 'img_srcset':  asset(site.logo['2x']) ~ " 2x, " ~ asset(site.logo['3x']) ~ " 3x," ~ asset(site.logo['4x']) ~ " 4x", 'img_class': 'logo', 'img_layout': 'flex-item', 'amp': amp } only %}
                            {% if site.status != 'Closed' and (site.affiliateLink is not empty) and (site.welcomeOfferLine1 is not empty) %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {# Right #}
                    <div class="poster__details--right">
                        <h2 class="poster__details__welcome-offer-line-1">{{ site.welcomeOfferLine1|raw }}</h2>
                        <h3 class="poster__details__welcome-offer-line-2">{{ site.welcomeOfferLine2|raw }}</h3>
                        {% if site.status != 'Closed' and (site.affiliateLink is not empty) and (site.welcomeOfferLine1 is not empty) %}
                            <div class="poster__details__play-button">
                                <a class="button-play-now-with-arrow" rel="nofollow noopener" target="_blank" href="{{ site.affiliateLink|e('html_attr') }}">
                                    Play Now
                                    <object data="{{ asset('img/buttons/play-now-with-arrow.svg') }}" type="image/svg+xml">
                                        <span>Play Now</span>
                                    </object>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if (site.affiliateLink is not empty) and (site.welcomeOfferLine1 is not empty) %}
                    <p class="poster__terms-and-conditions">
                        {% if site.termsAndConditionsUrl is empty %}
                            {{ site.termsAndConditions|e('html') }}
                        {% else %}
                            <a href="{{ termsAndConditionsService.getLink( 'offers', site.slug )|e('html_attr') }}" target="_blank" rel="nofollow noopener">
                                {{ site.termsAndConditions|e('html') }}
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</aside>