<div id="quicklinks" class="container">
    <div class="row">
        <div class="quicklinks__title">Quick Links</div>
        <div class="quicklinks__content">
            <ul class="quicklinks__content__list">
                {% for quickLink in quickLinks %}
                    <li class="quicklinks__list__item">
                        {# title="{{ quickLink.name|e('html_attr') }}" #}
                        <a href="{{ quickLink.link|e('html_attr') }}" class="quicklinks__list__item__image"  title="{{ quickLink.name|e('html_attr') }}">
                            {% include '@micro/img.html.twig' with { 'img_src': asset(quickLink.icon['1x']), 'img_width': 90, 'img_height': 90, 'img_alt': quickLink.name|e('html_attr'), 'img_srcset':  asset(quickLink.icon['2x']) ~ " 2x, " ~ asset(quickLink.icon['3x']) ~ " 3x," ~ asset(quickLink.icon['4x']) ~ " 4x", 'img_layout': 'responsive', 'amp': amp } only %}
                        </a>
                        <a class="quicklinks__list__title" href="{{ quickLink.link|e('html_attr') }}">{{ quickLink.copy|raw }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>