/*** News Page (Index) ***/
.news-page {
  &__headline {
    margin: 30px 0 0;
    width: 100%;
    /* Mobile Header Padding */
    @media screen and (max-width: $break-md) {
      margin-left: 20px;
      margin-right: 20px;
    }
    &__title {
      position: relative;
      font-size: 2.875em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
  }
}
.article--news-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
}

/*** News Article Page ***/
.news-article-page {
  &__headline {
    margin: 30px 0 0;
    padding: 20px 13px 24px;
    width: 100%;
    background-color: #f8f8f8;
    &__title {
      position: relative;
      font-size: 2.063em;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0b0c0c;
      height: auto;
    }
    &__date {
      display: block;
      position: relative;
      margin-top: 11px;
      font-size: 1em;
      color: #6f777b;
    }
  }
}
.article--news-article-page {
  p {
    font-size: 1.188em;
    color: #0b0c0c;
  }
  h2 {
    margin: 40px 0 30px;
  }
  h3 {
    font-size: 1.4em;
    margin: 30px 0 20px;
  }
}
.news-article-copyright {
  margin: 0;
  p {
    color: #999999;
    font-size: 0.750em;
    margin: 0 0 10px 0;
    text-align: left;
  }
}